
/* Default - light gray */
path.area.stroke {
    stroke: #ddd;
    stroke-width: 1;
}
path.area.fill {
    stroke-width: 0;
    stroke: rgba(255, 255, 255, 0.3);
    fill: rgba(255, 255, 255, 0.3);
    fill-rule: evenodd;
}
.preset-icon-fill-area {
    border: 1px solid rgb(170, 170, 170);
    background-color: rgba(170, 170, 170, 0.3);
}

path.shadow.old-multipolygon,
path.stroke.old-multipolygon {
    stroke-dasharray: 100, 5;
    stroke-linecap: butt;
}

/* Green things */
path.stroke.tag-landuse,
path.stroke.tag-natural,
path.stroke.tag-leisure-nature_reserve,
path.stroke.tag-leisure-pitch,
path.stroke.tag-leisure-park,
path.stroke.tag-barrier-hedge,
path.stroke.tag-landuse-forest,
path.stroke.tag-landuse-wood,
path.stroke.tag-landuse-grass {
    stroke: rgb(140, 208, 95);
}
path.fill.tag-landuse,
path.fill.tag-natural,
path.fill.tag-leisure-nature_reserve,
path.fill.tag-leisure-pitch,
path.fill.tag-leisure-park,
path.fill.tag-landuse-forest,
path.fill.tag-natural-wood,
path.fill.tag-landuse-grass {
    stroke: rgba(140, 208, 95, 0.3);
    fill: rgba(140, 208, 95, 0.3);
}
.preset-icon-fill-area.tag-landuse,
.preset-icon-fill-area.tag-natural,
.preset-icon-fill-area.tag-leisure-nature_reserve,
.preset-icon-fill-area.tag-leisure-pitch,
.preset-icon-fill-area.tag-leisure-park,
.preset-icon-fill-area.tag-landuse-forest,
.preset-icon-fill-area.tag-natural-wood,
.preset-icon-fill-area.tag-landuse-grass {
    border-color: rgb(140, 208, 95);
    background-color: rgba(140, 208, 95, 0.3);
}
.pattern-color-forest,
.pattern-color-forest_broadleaved,
.pattern-color-forest_needleleaved,
.pattern-color-forest_leafless,
.pattern-color-wood,
.pattern-color-grass {
    fill: rgba(140, 208, 95, 0.3);
}

/* Blue things */
path.stroke.tag-amenity-swimming_pool,
path.stroke.tag-leisure-swimming_pool,
path.stroke.tag-natural-water,
path.stroke.tag-landuse-aquaculture,
path.stroke.tag-landuse-basin,
path.stroke.tag-landuse-harbour,
path.stroke.tag-landuse-reservoir {
    stroke: rgb(119, 211, 222);
}
path.fill.tag-amenity-swimming_pool,
path.fill.tag-leisure-swimming_pool,
path.fill.tag-landuse-aquaculture,
path.fill.tag-landuse-basin,
path.fill.tag-landuse-harbour,
path.fill.tag-landuse-reservoir,
path.fill.tag-natural-water {
    stroke: rgba(119, 211, 222, 0.3);
    fill: rgba(119, 211, 222, 0.3);
}
.preset-icon-fill-area.tag-amenity-swimming_pool,
.preset-icon-fill-area.tag-leisure-swimming_pool,
.preset-icon-fill-area.tag-landuse-aquaculture,
.preset-icon-fill-area.tag-landuse-basin,
.preset-icon-fill-area.tag-landuse-harbour,
.preset-icon-fill-area.tag-landuse-reservoir,
.preset-icon-fill-area.tag-natural-water {
    border-color: rgb(119, 211, 222);
    background-color: rgba(119, 211, 222, 0.3);
}
.pattern-color-waves,
.pattern-color-pond {
    fill: rgba(119, 211, 222, 0.3);
}

/* Yellow things */
.pattern-color-beach,
.pattern-color-sand,
.pattern-color-scrub {
    fill: rgba(255, 255, 148, 0.2);
}
path.stroke.tag-leisure-pitch.tag-sport-beachvolleyball,
path.stroke.tag-natural-beach,
path.stroke.tag-natural-sand,
path.stroke.tag-natural-scrub,
path.stroke.tag-amenity-childcare,
path.stroke.tag-amenity-kindergarten,
path.stroke.tag-amenity-school,
path.stroke.tag-amenity-college,
path.stroke.tag-amenity-university {
    stroke: rgba(255, 255, 148, 0.75);
}
path.fill.tag-leisure-pitch.tag-sport-beachvolleyball,
path.fill.tag-natural-beach,
path.fill.tag-natural-sand,
path.fill.tag-natural-scrub,
path.fill.tag-amenity-childcare,
path.fill.tag-amenity-kindergarten,
path.fill.tag-amenity-school,
path.fill.tag-amenity-college,
path.fill.tag-amenity-university {
    stroke: rgba(255, 255, 148, 0.15);
    fill: rgba(255, 255, 148, 0.15);
}
.preset-icon-fill-area.tag-leisure-pitch.tag-sport-beachvolleyball,
.preset-icon-fill-area.tag-natural-beach,
.preset-icon-fill-area.tag-natural-sand,
.preset-icon-fill-area.tag-natural-scrub,
.preset-icon-fill-area.tag-amenity-childcare,
.preset-icon-fill-area.tag-amenity-kindergarten,
.preset-icon-fill-area.tag-amenity-school,
.preset-icon-fill-area.tag-amenity-college,
.preset-icon-fill-area.tag-amenity-university {
    border-color: rgb(232, 232, 0);
    background-color: rgba(255, 255, 148, 0.15);
}

/* Gold things */
.pattern-color-construction {
    fill: rgba(196, 189, 25, 0.3);
}
path.stroke.tag-landuse-residential,
path.stroke.tag-landuse.tag-status,
path.stroke.tag-landuse-construction {
    stroke: rgb(196, 189, 25);
}
path.fill.tag-landuse-residential {
    stroke: rgba(196, 189, 25, 0.3);
    fill: rgba(196, 189, 25, 0.3);
}
.preset-icon-fill-area.tag-landuse-residential,
.preset-icon-fill-area.tag-landuse.tag-status,
.preset-icon-fill-area.tag-landuse-construction {
    border-color: rgb(196, 189, 25);
    background: rgba(196, 189, 25, 0.3);
}

/* Orange things */
path.stroke.tag-landuse-retail,
path.stroke.tag-landuse-commercial,
path.stroke.tag-landuse-landfill,
path.stroke.tag-military,
path.stroke.tag-landuse-military {
    stroke: rgb(214, 136, 26);
}
path.fill.tag-landuse-retail,
path.fill.tag-landuse-commercial,
path.fill.tag-landuse-landfill,
path.fill.tag-military,
path.fill.tag-landuse-military {
    stroke: rgba(214, 136, 26, 0.3);
    fill: rgba(214, 136, 26, 0.3);
}
.preset-icon-fill-area.tag-landuse-retail,
.preset-icon-fill-area.tag-landuse-commercial,
.preset-icon-fill-area.tag-landuse-landfill,
.preset-icon-fill-area.tag-military,
.preset-icon-fill-area.tag-landuse-military {
    border-color: rgb(214, 136, 26);
    background-color: rgba(214, 136, 26, 0.3);
}
.pattern-color-landfill
{
    fill: rgba(214, 136, 26, 0.3);
}


/* Pink things */
path.stroke.tag-landuse-industrial,
path.stroke.tag-power-plant {
    stroke: rgb(228, 164, 245);
}
path.fill.tag-landuse-industrial,
path.fill.tag-power-plant {
    stroke: rgba(228, 164, 245, 0.3);
    fill: rgba(228, 164, 245, 0.3);
}
.preset-icon-fill-area.tag-landuse-industrial,
.preset-icon-fill-area.tag-power-plant {
    border-color: rgb(228, 164, 245);
    background-color: rgba(228, 164, 245, 0.3);
}

/* Teal things */
.pattern-color-wetland,
.pattern-color-wetland_marsh,
.pattern-color-wetland_swamp,
.pattern-color-wetland_bog,
.pattern-color-wetland_reedbed {
    fill: rgba(153, 225, 170, 0.3);
}
path.stroke.tag-natural-wetland {
    stroke: rgb(153, 225, 170);
}
.preset-icon-fill-area.tag-natural-wetland {
    border-color: rgb(153, 225, 170);
    background-color: rgba(153, 225, 170, 0.2);
}

/* Light Green things */
.pattern-color-cemetery,
.pattern-color-cemetery_christian,
.pattern-color-cemetery_buddhist,
.pattern-color-cemetery_muslim,
.pattern-color-cemetery_jewish,
.pattern-color-orchard,
.pattern-color-vineyard,
.pattern-color-meadow,
.pattern-color-farmland {
    fill: rgba(191, 232, 63, 0.2);
}
path.stroke.tag-landuse-cemetery,
path.stroke.tag-landuse-orchard,
path.stroke.tag-landuse-vineyard,
path.stroke.tag-landuse-meadow,
path.stroke.tag-landuse-farmland {
    stroke: rgb(191, 232, 63);
}
.preset-icon-fill-area.tag-landuse-cemetery,
.preset-icon-fill-area.tag-landuse-orchard,
.preset-icon-fill-area.tag-landuse-vineyard,
.preset-icon-fill-area.tag-landuse-meadow,
.preset-icon-fill-area.tag-landuse-farmland {
    background-color: rgba(191, 232, 63, 0.2);
}

/* Tan things */
path.stroke.tag-landuse-farmyard {
    stroke: rgb(245, 220, 186);
}
path.fill.tag-landuse-farmyard {
    stroke: rgba(245, 220, 186, 0.3);
    fill: rgba(245, 220, 186, 0.3);
}
.preset-icon-fill-area.tag-landuse-farmyard {
    border-color: rgb(226, 177, 111);
    background: rgba(245, 220, 186, 0.3);
}
.pattern-color-farmyard {
    fill: rgba(245, 220, 186, 0.3);
}

/* Dark Gray things */
path.stroke.tag-amenity-parking,
path.stroke.tag-leisure-pitch.tag-sport-basketball,
path.stroke.tag-leisure-pitch.tag-sport-skateboard,
path.stroke.tag-natural-bare_rock,
path.stroke.tag-natural-scree,
path.stroke.tag-landuse-railway,
path.stroke.tag-landuse-quarry {
    stroke: #bbb;
}
path.fill.tag-amenity-parking,
path.fill.tag-leisure-pitch.tag-sport-basketball,
path.fill.tag-leisure-pitch.tag-sport-skateboard,
path.fill.tag-natural-bare_rock,
path.fill.tag-natural-scree,
path.fill.tag-landuse-railway,
path.fill.tag-landuse-quarry {
    stroke: rgba(140, 140, 140, 0.5);
    fill: rgba(140, 140, 140, 0.5);
}
.preset-icon-fill-area.tag-amenity-parking,
.preset-icon-fill-area.tag-leisure-pitch.tag-sport-basketball,
.preset-icon-fill-area.tag-leisure-pitch.tag-sport-skateboard,
.preset-icon-fill-area.tag-natural-bare_rock,
.preset-icon-fill-area.tag-natural-scree,
.preset-icon-fill-area.tag-landuse-railway,
.preset-icon-fill-area.tag-landuse-quarry {
    border-color: rgb(170, 170, 170);
    background-color: rgba(140, 140, 140, 0.5);
}
.pattern-color-quarry
{
    fill: rgba(140, 140, 140, 0.5);
}

/* Light gray overrides */
path.stroke.tag-natural-cave_entrance,
path.stroke.tag-natural-glacier {
    stroke: #ddd;
}
path.fill.tag-natural-cave_entrance,
path.fill.tag-natural-glacier {
    stroke: rgba(255, 255, 255, 0.3);
    fill: rgba(255, 255, 255, 0.3);
}
.preset-icon-fill-area.tag-natural-cave_entrance,
.preset-icon-fill-area.tag-natural-glacier {
    border-color: rgb(170, 170, 170);
    background: rgba(170, 170, 170, 0.3);
}
