/* highways */

/* defaults */
.preset-icon .icon.tag-highway.other-line {
    color: #fff;
    fill: #777;
}
path.line.casing.tag-highway {
    stroke: #444;
}
path.line.stroke.tag-highway {
    stroke: #ccc;
}

/* wide highways */
path.line.shadow.tag-highway {
    stroke-width: 20;
}
path.line.casing.tag-highway {
    stroke-width: 10;
}
path.line.stroke.tag-highway {
    stroke-width: 8;
}
.low-zoom path.line.shadow.tag-highway {
    stroke-width: 16;
}
.low-zoom path.line.casing.tag-highway {
    stroke-width: 7;
}
.low-zoom path.line.stroke.tag-highway {
    stroke-width: 5;
}

.preset-icon .icon.iD-highway-motorway,
.preset-icon .icon.iD-highway-motorway-link {
    color: #CF2081;
    fill: #70372f;
}
path.line.stroke.tag-highway-motorway,
path.line.stroke.tag-highway-motorway_link,
path.line.stroke.tag-motorway {
    stroke: #CF2081;
}
path.line.casing.tag-highway-motorway,
path.line.casing.tag-highway-motorway_link,
path.line.casing.tag-motorway {
    stroke: #70372f;
}

.preset-icon .icon.iD-highway-trunk,
.preset-icon .icon.iD-highway-trunk-link {
    color: #DD2F22;
    fill: #70372f;
}
path.line.stroke.tag-highway-trunk,
path.line.stroke.tag-highway-trunk_link,
path.line.stroke.tag-trunk {
    stroke: #DD2F22;
}
path.line.casing.tag-highway-trunk,
path.line.casing.tag-highway-trunk_link,
path.line.casing.tag-trunk {
    stroke: #70372f;
}

.preset-icon .icon.iD-highway-primary,
.preset-icon .icon.iD-highway-primary-link {
    color: #F99806;
    fill: #70372f;
}
path.line.stroke.tag-highway-primary,
path.line.stroke.tag-highway-primary_link,
path.line.stroke.tag-primary {
    stroke: #F99806;
}
path.line.casing.tag-highway-primary,
path.line.casing.tag-highway-primary_link,
path.line.casing.tag-primary {
    stroke: #70372f;
}

.preset-icon .icon.iD-highway-secondary,
.preset-icon .icon.iD-highway-secondary-link {
    color: #F3F312;
    fill: #70372f;
}
path.line.stroke.tag-highway-secondary,
path.line.stroke.tag-highway-secondary_link,
path.line.stroke.tag-secondary {
    stroke: #F3F312;
}
path.line.casing.tag-highway-secondary,
path.line.casing.tag-highway-secondary_link,
path.line.casing.tag-secondary {
    stroke: #70372f;
}

.preset-icon .icon.iD-highway-tertiary,
.preset-icon .icon.iD-highway-tertiary-link {
    color: #FFF9B3;
    fill: #70372f;
}
path.line.stroke.tag-highway-tertiary,
path.line.stroke.tag-highway-tertiary_link,
path.line.stroke.tag-tertiary {
    stroke: #FFF9B3;
}
path.line.casing.tag-highway-tertiary,
path.line.casing.tag-highway-tertiary_link,
path.line.casing.tag-tertiary {
    stroke: #70372f;
}

.legacy-carto .preset-icon .icon.iD-highway-motorway,
.legacy-carto .preset-icon .icon.iD-highway-motorway-link {
    color: #58a9ed;
    fill: #2c5476;
}
.legacy-carto path.line.stroke.tag-highway-motorway,
.legacy-carto path.line.stroke.tag-highway-motorway_link,
.legacy-carto path.line.stroke.tag-motorway {
    stroke: #58a9ed;
}
.legacy-carto path.line.casing.tag-highway-motorway,
.legacy-carto path.line.casing.tag-highway-motorway_link,
.legacy-carto path.line.casing.tag-motorway {
    stroke: #2c5476;
}

.legacy-carto .preset-icon .icon.iD-highway-trunk,
.legacy-carto .preset-icon .icon.iD-highway-trunk-link {
    color: #8cd05f;
    fill: #46682f;
}
.legacy-carto path.line.stroke.tag-highway-trunk,
.legacy-carto path.line.stroke.tag-highway-trunk_link,
.legacy-carto path.line.stroke.tag-trunk {
    stroke: #8cd05f;
}
.legacy-carto path.line.casing.tag-highway-trunk,
.legacy-carto path.line.casing.tag-highway-trunk_link,
.legacy-carto path.line.casing.tag-trunk {
    stroke: #46682f;
}

.legacy-carto .preset-icon .icon.iD-highway-primary,
.legacy-carto .preset-icon .icon.iD-highway-primary-link {
    color: #e06d5f;
    fill: #70372f;
}
.legacy-carto path.line.stroke.tag-highway-primary,
.legacy-carto path.line.stroke.tag-highway-primary_link,
.legacy-carto path.line.stroke.tag-primary {
    stroke: #e06d5f;
}
.legacy-carto path.line.casing.tag-highway-primary,
.legacy-carto path.line.casing.tag-highway-primary_link,
.legacy-carto path.line.casing.tag-primary {
    stroke: #70372f;
}

.legacy-carto .preset-icon .icon.iD-highway-secondary,
.legacy-carto .preset-icon .icon.iD-highway-secondary-link {
    color: #eab056;
    fill: #75582b;
}
.legacy-carto path.line.stroke.tag-highway-secondary,
.legacy-carto path.line.stroke.tag-highway-secondary_link,
.legacy-carto path.line.stroke.tag-secondary {
    stroke: #eab056;
}
.legacy-carto path.line.casing.tag-highway-secondary,
.legacy-carto path.line.casing.tag-highway-secondary_link,
.legacy-carto path.line.casing.tag-secondary {
    stroke: #75582b;
}

.legacy-carto .preset-icon .icon.iD-highway-tertiary,
.legacy-carto .preset-icon .icon.iD-highway-tertiary-link {
    color: #ffff7e;
    fill: #7f7f3f;
}
.legacy-carto path.line.stroke.tag-highway-tertiary,
.legacy-carto path.line.stroke.tag-highway-tertiary_link,
.legacy-carto path.line.stroke.tag-tertiary {
    stroke: #ffff7e;
}
.legacy-carto path.line.casing.tag-highway-tertiary,
.legacy-carto path.line.casing.tag-highway-tertiary_link,
.legacy-carto path.line.casing.tag-tertiary {
    stroke: #7f7f3f;
}

.preset-icon .icon.iD-highway-residential {
    color: #fff;
    fill: #444;
}
path.line.stroke.tag-highway-residential,
path.line.stroke.tag-residential {
    stroke: #fff;
}
path.line.casing.tag-highway-residential,
path.line.casing.tag-residential {
    stroke: #444;
}

.preset-icon .icon.iD-highway-unclassified {
    color: #dca;
    fill: #444;
}
path.line.stroke.tag-highway-unclassified,
path.line.stroke.tag-unclassified {
    stroke: #dca;
}
path.line.casing.tag-highway-unclassified,
path.line.casing.tag-unclassified {
    stroke: #444;
}


/* narrow highways */
path.line.shadow.tag-highway-living_street,
path.line.shadow.tag-highway-bus_guideway,
path.line.shadow.tag-highway-service,
path.line.shadow.tag-highway-track,
path.line.shadow.tag-highway-road,
path.line.shadow.tag-living_street,
path.line.shadow.tag-service,
path.line.shadow.tag-track,
path.line.shadow.tag-road {
    stroke-width: 16;
}
path.line.casing.tag-highway-living_street,
path.line.casing.tag-highway-bus_guideway,
path.line.casing.tag-highway-service,
path.line.casing.tag-highway-track,
path.line.casing.tag-highway-road,
path.line.casing.tag-living_street,
path.line.casing.tag-service,
path.line.casing.tag-track,
path.line.casing.tag-road {
    stroke-width: 7;
}
path.line.stroke.tag-highway-living_street,
path.line.stroke.tag-highway-bus_guideway,
path.line.stroke.tag-highway-service,
path.line.stroke.tag-highway-track,
path.line.stroke.tag-highway-road,
path.line.stroke.tag-living_street,
path.line.stroke.tag-service,
path.line.stroke.tag-track,
path.line.stroke.tag-road {
    stroke-width: 5;
}

path.line.shadow.tag-highway-path,
path.line.shadow.tag-highway-footway,
path.line.shadow.tag-highway-cycleway,
path.line.shadow.tag-highway-bridleway,
path.line.shadow.tag-highway-corridor,
path.line.shadow.tag-highway-pedestrian,
path.line.shadow.tag-highway-steps,
path.line.shadow.tag-path,
path.line.shadow.tag-footway,
path.line.shadow.tag-cycleway,
path.line.shadow.tag-bridleway,
path.line.shadow.tag-corridor,
path.line.shadow.tag-pedestrian,
path.line.shadow.tag-steps {
    stroke-width: 16;
}
path.line.casing.tag-highway-path,
path.line.casing.tag-highway-footway,
path.line.casing.tag-highway-cycleway,
path.line.casing.tag-highway-bridleway,
path.line.casing.tag-highway-corridor,
path.line.casing.tag-highway-pedestrian,
path.line.casing.tag-highway-steps,
path.line.casing.tag-path,
path.line.casing.tag-footway,
path.line.casing.tag-cycleway,
path.line.casing.tag-bridleway,
path.line.casing.tag-corridor,
path.line.casing.tag-pedestrian,
path.line.casing.tag-steps {
    stroke-width: 5;
}
path.line.stroke.tag-highway-path,
path.line.stroke.tag-highway-footway,
path.line.stroke.tag-highway-cycleway,
path.line.stroke.tag-highway-bridleway,
path.line.stroke.tag-highway-corridor,
path.line.stroke.tag-highway-pedestrian,
path.line.stroke.tag-highway-steps,
path.line.stroke.tag-path,
path.line.stroke.tag-footway,
path.line.stroke.tag-cycleway,
path.line.stroke.tag-bridleway,
path.line.stroke.tag-corridor,
path.line.stroke.tag-pedestrian,
path.line.stroke.tag-steps {
    stroke-width: 3;
}

.low-zoom path.line.shadow.tag-highway-living_street,
.low-zoom path.line.shadow.tag-highway-bus_guideway,
.low-zoom path.line.shadow.tag-highway-service,
.low-zoom path.line.shadow.tag-highway-track,
.low-zoom path.line.shadow.tag-highway-road,
.low-zoom path.line.shadow.tag-living_street,
.low-zoom path.line.shadow.tag-service,
.low-zoom path.line.shadow.tag-track,
.low-zoom path.line.shadow.tag-road {
    stroke-width: 12;
}
.low-zoom path.line.casing.tag-highway-living_street,
.low-zoom path.line.casing.tag-highway-bus_guideway,
.low-zoom path.line.casing.tag-highway-service,
.low-zoom path.line.casing.tag-highway-track,
.low-zoom path.line.casing.tag-highway-road,
.low-zoom path.line.casing.tag-living_street,
.low-zoom path.line.casing.tag-service,
.low-zoom path.line.casing.tag-track,
.low-zoom path.line.casing.tag-road {
    stroke-width: 5;
}
.low-zoom path.line.stroke.tag-highway-living_street,
.low-zoom path.line.stroke.tag-highway-bus_guideway,
.low-zoom path.line.stroke.tag-highway-service,
.low-zoom path.line.stroke.tag-highway-track,
.low-zoom path.line.stroke.tag-highway-road,
.low-zoom path.line.stroke.tag-living_street,
.low-zoom path.line.stroke.tag-service,
.low-zoom path.line.stroke.tag-track,
.low-zoom path.line.stroke.tag-road {
    stroke-width: 3;
}

.low-zoom path.line.shadow.tag-highway-path,
.low-zoom path.line.shadow.tag-highway-footway,
.low-zoom path.line.shadow.tag-highway-cycleway,
.low-zoom path.line.shadow.tag-highway-bridleway,
.low-zoom path.line.shadow.tag-highway-corridor,
.low-zoom path.line.shadow.tag-highway-pedestrian,
.low-zoom path.line.shadow.tag-highway-steps,
.low-zoom path.line.shadow.tag-path,
.low-zoom path.line.shadow.tag-footway,
.low-zoom path.line.shadow.tag-cycleway,
.low-zoom path.line.shadow.tag-bridleway,
.low-zoom path.line.shadow.tag-corridor,
.low-zoom path.line.shadow.tag-pedestrian,
.low-zoom path.line.shadow.tag-steps {
    stroke-width: 12;
}
.low-zoom path.line.casing.tag-highway-path,
.low-zoom path.line.casing.tag-highway-footway,
.low-zoom path.line.casing.tag-highway-cycleway,
.low-zoom path.line.casing.tag-highway-bridleway,
.low-zoom path.line.casing.tag-highway-corridor,
.low-zoom path.line.casing.tag-highway-pedestrian,
.low-zoom path.line.casing.tag-highway-steps,
.low-zoom path.line.casing.tag-path,
.low-zoom path.line.casing.tag-footway,
.low-zoom path.line.casing.tag-cycleway,
.low-zoom path.line.casing.tag-bridleway,
.low-zoom path.line.casing.tag-corridor,
.low-zoom path.line.casing.tag-pedestrian,
.low-zoom path.line.casing.tag-steps {
    stroke-width: 3;
}
.low-zoom path.line.stroke.tag-highway-path,
.low-zoom path.line.stroke.tag-highway-footway,
.low-zoom path.line.stroke.tag-highway-cycleway,
.low-zoom path.line.stroke.tag-highway-bridleway,
.low-zoom path.line.stroke.tag-highway-corridor,
.low-zoom path.line.stroke.tag-highway-pedestrian,
.low-zoom path.line.stroke.tag-highway-steps,
.low-zoom path.line.stroke.tag-path,
.low-zoom path.line.stroke.tag-footway,
.low-zoom path.line.stroke.tag-cycleway,
.low-zoom path.line.stroke.tag-bridleway,
.low-zoom path.line.stroke.tag-corridor,
.low-zoom path.line.stroke.tag-pedestrian,
.low-zoom path.line.stroke.tag-steps {
    stroke-width: 1;
}


.preset-icon .icon.iD-highway-living-street {
    color: #bbb;
    fill: #ddd;
}
path.line.stroke.tag-highway-living_street,
path.line.stroke.tag-living_street {
    stroke: #ccc;
}
path.line.casing.tag-highway-living_street,
path.line.casing.tag-living_street {
    stroke: #fff;
}

.preset-icon .icon.iD-highway-footway.tag-highway-corridor,
.preset-icon .icon.iD-highway-footway.tag-highway-pedestrian {
    color: #8cd05f;
    fill: #fff;
}
path.line.stroke.tag-highway-corridor,
path.line.stroke.tag-highway-pedestrian,
path.line.stroke.tag-corridor,
path.line.stroke.tag-pedestrian {
    stroke: #fff;
    stroke-dasharray: 2, 8;
}
.low-zoom path.line.stroke.tag-highway-corridor,
.low-zoom path.line.stroke.tag-highway-pedestrian,
.low-zoom path.line.stroke.tag-corridor,
.low-zoom path.line.stroke.tag-pedestrian {
    stroke-dasharray: 1, 4;
}
path.line.casing.tag-highway-corridor,
path.line.casing.tag-highway-pedestrian,
path.line.casing.tag-corridor,
path.line.casing.tag-pedestrian,
path.line.casing.tag-highway-corridor.tag-unpaved,
path.line.casing.tag-highway-pedestrian.tag-unpaved,
path.line.casing.tag-corridor.tag-unpaved,
path.line.casing.tag-pedestrian.tag-unpaved {
    stroke: #8cd05f;
    stroke-linecap: round;
    stroke-dasharray: none;
}

.preset-icon .icon.iD-highway-road {
    color: #9e9e9e;
    fill: #666;
}
path.line.stroke.tag-highway-road,
path.line.stroke.tag-road {
    stroke: #9e9e9e;
}
path.line.casing.tag-highway-road,
path.line.casing.tag-road {
    stroke: #666;
}

.preset-icon .icon.iD-highway-service {
    color: #fff;
    fill: #666;
}
path.line.stroke.tag-highway-service,
path.line.stroke.tag-service {
    stroke: #fff;
}
path.line.casing.tag-highway-service,
path.line.casing.tag-service {
    stroke: #666;
}

/* special service roads and bus guideways */
/* with `service=* tag`  (e.g. parking_aisle, alley, drive-through) */
.preset-icon .icon.iD-highway-bus_guideway,
.preset-icon .icon.iD-highway-service.tag-service {
    color: #dca;
    fill: #666;
}
path.line.stroke.tag-highway-bus_guideway,
path.line.stroke.tag-highway-service.tag-service,
path.line.stroke.tag-service.tag-service {
    stroke: #dca;
}
path.line.casing.tag-highway-bus_guideway,
path.line.casing.tag-highway-service.tag-service,
path.line.casing.tag-service.tag-service {
    stroke: #666;
}

.preset-icon .icon.iD-highway-track {
    color: #eaeaea;
    fill: #c5b59f;
}
path.line.stroke.tag-highway-track,
path.line.stroke.tag-track {
    stroke: #c5b59f;
}
path.line.casing.tag-highway-track,
path.line.casing.tag-track {
    stroke: #746f6f;
}

path.line.stroke.tag-highway-path,
path.line.stroke.tag-highway-footway,
path.line.stroke.tag-highway-cycleway,
path.line.stroke.tag-highway-bridleway {
    stroke-linecap: butt;
    stroke-dasharray: 6, 6;
}
.low-zoom path.line.stroke.tag-highway-path,
.low-zoom path.line.stroke.tag-highway-footway,
.low-zoom path.line.stroke.tag-highway-cycleway,
.low-zoom path.line.stroke.tag-highway-bridleway {
    stroke-linecap: butt;
    stroke-dasharray: 3, 3;
}

path.line.casing.tag-highway-path,
path.line.casing.tag-highway-path.tag-unpaved {
    stroke: #dca;
    stroke-linecap: round;
    stroke-dasharray: none;
}
path.line.casing.tag-highway-footway,
path.line.casing.tag-highway-cycleway,
path.line.casing.tag-highway-bridleway,
path.line.casing.tag-highway-footway.tag-unpaved,
path.line.casing.tag-highway-cycleway.tag-unpaved,
path.line.casing.tag-highway-bridleway.tag-unpaved {
    stroke: #fff;
    stroke-linecap: round;
    stroke-dasharray: none;
}

.preset-icon .icon.iD-category-path,
.preset-icon .icon.iD-highway-path {
    color: #988;
    fill: #dca;
}
path.line.stroke.tag-highway-path {
    stroke: #988;
}

.preset-icon .icon.tag-route-foot,
.preset-icon .icon.tag-route-hiking,
.preset-icon .icon.iD-highway-footway {
    color: #988;
    fill: #fff;
}
path.line.stroke.tag-highway-footway {
    stroke: #988;
}


.preset-icon .icon.tag-route-bicycle,
.preset-icon .icon.iD-highway-cycleway {
    color: #58a9ed;
    fill: #fff;
}
path.line.stroke.tag-highway-cycleway {
    stroke: #58a9ed;
}

.preset-icon .icon.tag-route-horse,
.preset-icon .icon.iD-highway-bridleway {
    color: #e06d5f;
    fill: #fff;
}
path.line.stroke.tag-highway-bridleway {
    stroke: #e06d5f;
}

.preset-icon .icon.iD-highway-steps {
    color: #81d25c;
    fill: #fff;
}
path.line.stroke.tag-highway-steps {
    stroke: #81d25c;
    stroke-linecap: butt;
    stroke-dasharray: 3, 3;
}
.low-zoom path.line.stroke.tag-highway-steps {
    stroke-dasharray: 2, 2;
}
path.line.casing.tag-highway-steps,
path.line.casing.tag-highway-steps.tag-unpaved {
    stroke: #fff;
    stroke-linecap: round;
    stroke-dasharray: none;
}

/* highway midpoints */
g.midpoint.tag-highway-corridor .fill,
g.midpoint.tag-highway-pedestrian .fill,
g.midpoint.tag-highway-steps .fill,
g.midpoint.tag-highway-path .fill,
g.midpoint.tag-highway-footway .fill,
g.midpoint.tag-highway-cycleway .fill,
g.midpoint.tag-highway-bridleway .fill {
    fill: #fff;
    stroke: #333;
    stroke-opacity: .8;
    opacity: .8;
}
