preset-icon-container/* highways */

/* defaults */
.preset-icon .icon.tag-highway.other-line {
    color: #fff;
    fill: #777;
}
path.line.casing.tag-highway {
    stroke: #444;
}
path.line.stroke.tag-highway {
    stroke: #ccc;
}



/* wide highways */
path.line.shadow.tag-highway {
  stroke-width: 20;
}
path.line.casing.tag-highway {
  stroke-width: 12;
}
path.line.over-stroke.tag-highway {
  stroke-width: 6;
}
path.line.stroke.tag-highway {
  stroke-width: 10;
}
.low-zoom path.line.shadow.tag-highway {
  stroke-width: 16;
}
.low-zoom path.line.casing.tag-highway {
  stroke-width: 7;
}
.low-zoom path.line.stroke.tag-highway {
  stroke-width: 5;
}
/* narrow highways */


path.line.shadow.tag-highway-track,
path.line.shadow.tag-highway-path,
path.line.shadow.tag-highway-footway,
path.line.shadow.tag-highway-cycleway,
path.line.shadow.tag-highway-bridleway,
path.line.shadow.tag-highway-corridor,
path.line.shadow.tag-highway-pedestrian,
path.line.shadow.tag-highway-steps {
    stroke-width: 16;
}

path.line.shadow.tag-highway-service,
path.line.shadow.tag-highway-road {
  stroke-width: 18;
}

path.line.casing.tag-highway-track,
path.line.casing.tag-highway-path,
path.line.casing.tag-highway-footway,
path.line.casing.tag-highway-cycleway,
path.line.casing.tag-highway-bridleway,
path.line.casing.tag-highway-corridor,
path.line.casing.tag-highway-pedestrian,
path.line.casing.tag-highway-steps {
  stroke-width: 6;
}

path.line.casing.tag-highway-service,
path.line.casing.tag-highway-road {
  stroke-width: 10;
}

path.line.stroke.tag-highway-path,
path.line.stroke.tag-highway-footway,
path.line.stroke.tag-highway-cycleway,
path.line.stroke.tag-highway-bridleway,
path.line.stroke.tag-highway-corridor,
path.line.stroke.tag-highway-pedestrian,
path.line.stroke.tag-highway-steps {
    stroke-width: 3;
}

path.line.stroke.tag-highway-service,
path.line.stroke.tag-highway-track,
path.line.stroke.tag-highway-road {
  stroke-width: 6;
}

path.line.over-stroke.tag-highway-track,
path.line.over-stroke.tag-highway-path,
path.line.over-stroke.tag-highway-footway,
path.line.over-stroke.tag-highway-cycleway,
path.line.over-stroke.tag-highway-bridleway,
path.line.over-stroke.tag-highway-corridor,
path.line.over-stroke.tag-highway-pedestrian,
path.line.over-stroke.tag-highway-steps {
    stroke-width: 2;
}

path.line.over-stroke.tag-highway-service,
path.line.over-stroke.tag-highway-road {
  stroke-width: 8;
}



.low-zoom path.line.shadow.tag-highway-service,
.low-zoom path.line.shadow.tag-highway-track,
.low-zoom path.line.shadow.tag-highway-road {
    stroke-width: 12;
}
.low-zoom path.line.casing.tag-highway-service,
.low-zoom path.line.casing.tag-highway-track,
.low-zoom path.line.casing.tag-highway-road {
    stroke-width: 5;
}
.low-zoom path.line.stroke.tag-highway-service,
.low-zoom path.line.stroke.tag-highway-track,
.low-zoom path.line.stroke.tag-highway-road {
    stroke-width: 3;
}
.low-zoom path.line.over-stroke.tag-highway-service,
.low-zoom path.line.over-stroke.tag-highway-track,
.low-zoom path.line.over-stroke.tag-highway-road {
    stroke-width: 1.5;
}

.low-zoom path.line.shadow.tag-highway-path,
.low-zoom path.line.shadow.tag-highway-footway,
.low-zoom path.line.shadow.tag-highway-cycleway,
.low-zoom path.line.shadow.tag-highway-bridleway,
.low-zoom path.line.shadow.tag-highway-corridor,
.low-zoom path.line.shadow.tag-highway-pedestrian,
.low-zoom path.line.shadow.tag-highway-steps {
    stroke-width: 12;
}
.low-zoom path.line.casing.tag-highway-path,
.low-zoom path.line.casing.tag-highway-footway,
.low-zoom path.line.casing.tag-highway-cycleway,
.low-zoom path.line.casing.tag-highway-bridleway,
.low-zoom path.line.casing.tag-highway-corridor,
.low-zoom path.line.casing.tag-highway-pedestrian,
.low-zoom path.line.casing.tag-highway-steps {
    stroke-width: 3;
}
.low-zoom path.line.stroke.tag-highway-path,
.low-zoom path.line.stroke.tag-highway-footway,
.low-zoom path.line.stroke.tag-highway-cycleway,
.low-zoom path.line.stroke.tag-highway-bridleway,
.low-zoom path.line.stroke.tag-highway-corridor,
.low-zoom path.line.stroke.tag-highway-pedestrian,
.low-zoom path.line.stroke.tag-highway-steps {
    stroke-width: 1;
}
.low-zoom path.line.over-stroke.tag-highway-path,
.low-zoom path.line.over-stroke.tag-highway-footway,
.low-zoom path.line.over-stroke.tag-highway-cycleway,
.low-zoom path.line.over-stroke.tag-highway-bridleway,
.low-zoom path.line.over-stroke.tag-highway-corridor,
.low-zoom path.line.over-stroke.tag-highway-pedestrian,
.low-zoom path.line.over-stroke.tag-highway-steps {
    stroke-width: 0;
}

path.line.casing.tag-highway-track {
  stroke-dasharray: 4, 4;
  stroke-linecap: butt;
}

path.line.stroke.tag-highway-track {
  stroke-width: 4;
}



/* motorways */
.preset-icon .icon.tag-highway-motorway,
.preset-icon .icon.tag-highway-motorway_link {
    color: #CF2081;
    fill: #fff;
}
path.line.stroke.tag-highway-motorway,
path.line.stroke.tag-highway-motorway_link,
path.line.stroke.tag-motorway {
    stroke: #CF2081;
}
path.line.casing.tag-highway-motorway,
path.line.casing.tag-highway-motorway_link,
path.line.casing.tag-motorway {
    stroke: #fff;
}

/* roads */

.preset-icon .icon.tag-highway-trunk,
.preset-icon .icon.tag-highway-trunk_link {
    color: #971208;
    fill: #ffffff;
}
path.line.stroke.tag-highway-trunk,
path.line.stroke.tag-highway-trunk_link,
path.line.stroke.tag-trunk {
    stroke: #971208;
}
path.line.casing.tag-highway-trunk,
path.line.casing.tag-highway-trunk_link,
path.line.casing.tag-trunk {
    stroke: #ffffff;
}

.preset-icon .icon.tag-highway-primary,
.preset-icon .icon.tag-highway-primary_link {
    color: #f97306;
    fill: #ffffff;
}
path.line.stroke.tag-highway-primary,
path.line.stroke.tag-highway-primary_link,
path.line.stroke.tag-primary {
    stroke: #db5800;
}
path.line.casing.tag-highway-primary,
path.line.casing.tag-highway-primary_link,
path.line.casing.tag-primary {
    stroke: #ffffff;
}

.preset-icon .icon.tag-highway-secondary,
.preset-icon .icon.tag-highway-secondary_link {
    color: #f3b712;
    fill: #70372f;
}
path.line.stroke.tag-highway-secondary,
path.line.stroke.tag-highway-secondary_link,
path.line.stroke.tag-secondary {
    stroke: #ffd900;
}
path.line.casing.tag-highway-secondary,
path.line.casing.tag-highway-secondary_link,
path.line.casing.tag-secondary {
    stroke: #444;
}

.preset-icon .icon.tag-highway-tertiary,
.preset-icon .icon.tag-highway-tertiary_link {
    color: #fff695;
    fill: #ffffff;
}
path.line.stroke.tag-highway-tertiary,
path.line.stroke.tag-highway-tertiary_link,
path.line.stroke.tag-tertiary {
    stroke: #fff27f;
}
path.line.casing.tag-highway-tertiary,
path.line.casing.tag-highway-tertiary_link,
path.line.casing.tag-tertiary {
    stroke: #444;
}

.preset-icon .icon.tag-highway-residential {
  color: #fff;
  fill: #444;
}
path.line.stroke.tag-highway-residential,
path.line.stroke.tag-residential {
  stroke: #fff;
}
path.line.casing.tag-highway-residential,
path.line.casing.tag-residential {
  stroke: #444;
}

.preset-icon .icon.tag-highway-unclassified {
  color: #dca;
  fill: #444;
}
path.line.stroke.tag-highway-unclassified,
path.line.stroke.tag-unclassified {
  stroke: #dca;
}
path.line.casing.tag-highway-unclassified,
path.line.casing.tag-unclassified {
  stroke: #444;
}








/* living streets */
.preset-icon .icon.tag-highway-living-street {
  color: #aedf8e;
  fill: #ddd;
}
path.line.stroke.tag-highway-living_street,
path.line.stroke.tag-living_street,
path.line.stroke.tag-highway-corridor,
path.line.stroke.tag-highway-pedestrian,
path.line.stroke.tag-corridor,
path.line.stroke.tag-pedestrian,
path.line.stroke.tag-highway-corridor.tag-unpaved,
path.line.stroke.tag-highway-pedestrian.tag-unpaved,
path.line.stroke.tag-corridor.tag-unpaved,
path.line.stroke.tag-pedestrian.tag-unpaved {
  stroke: #aedf8e;
}
path.line.casing.tag-highway-living_street,
path.line.casing.tag-living_street,
path.line.casing.tag-highway.tag-service-alley,
path.line.casing.tag-highway-corridor,
path.line.casing.tag-highway-pedestrian,
path.line.casing.tag-corridor,
path.line.casing.tag-pedestrian,
path.line.casing.tag-highway-corridor.tag-unpaved,
path.line.casing.tag-highway-pedestrian.tag-unpaved,
path.line.casing.tag-corridor.tag-unpaved,
path.line.casing.tag-pedestrian.tag-unpaved {
  stroke: #fff;
}




/* pedestrian streets and corridors */
.preset-icon .icon.tag-highway-corridor,
.preset-icon .icon.tag-highway-pedestrian {
  color: #aedf8e;
  fill: #fff;
}


/* unknown roads */
.preset-icon .icon.tag-highway-road {
  color: #b1b1b1;
  fill: #666;
}
path.line.stroke.tag-highway-road,
path.line.stroke.tag-road {
  stroke: #b1b1b1;
}
path.line.casing.tag-highway-road,
path.line.casing.tag-road {
  stroke: #666;
}

/* service roads */
.preset-icon .icon.tag-highway-service {
  color: #999;
}
path.line.stroke.tag-highway-service,
path.line.stroke.tag-service {
  stroke: #fff;
}
path.line.casing.tag-highway-service,
path.line.casing.tag-service {
  stroke: #666;
}


/* alleys */
.preset-icon .icon.tag-highway.tag-service.tag-service-alley {
  color: #d3df8e;
  fill: #ddd;
}
path.line.stroke.tag-highway.tag-service.tag-service-alley {
  stroke: #d3df8e;
}


/* special service roads and bus guideways */
/* with `service=* tag`  (e.g. parking_aisle, alley, drive-through) */
.preset-icon .icon.tag-highway-service.tag-service {
  color: #dca;
  fill: #666;
}

.preset-icon .icon.tag-highway-bus_guideway {
  color:rgb(126, 214, 255);
  fill: #fff;
}
path.line.stroke.tag-highway-bus_guideway {
  stroke: rgb(126, 214, 255);
}
path.line.casing.tag-highway-bus_guideway {
  stroke: #fff;
}

path.line.stroke.tag-highway-service.tag-service,
path.line.stroke.tag-service.tag-service {
  stroke: rgb(235, 223, 200);
}
path.line.casing.tag-highway-service.tag-service,
path.line.casing.tag-service.tag-service {
  stroke: #666;
}

path.line.casing.tag-highway-service.tag-service.tag-private,
path.line.casing.tag-service.tag-service.tag-private {
    stroke: rgb(143, 32, 32);
}
path.line.casing.tag-highway-service.tag-service.tag-customers,
path.line.casing.tag-service.tag-service.tag-customers {
    stroke: rgb(219, 131, 30);
}
path.line.casing.tag-highway-service.tag-service.tag-destination,
path.line.casing.tag-service.tag-service.tag-destination {
    stroke: rgb(199, 117, 174);
}
path.line.casing.tag-highway-service.tag-service.tag-delivery,
path.line.casing.tag-service.tag-service.tag-delivery {
    stroke: rgb(63, 214, 156);
}
path.line.casing.tag-highway-service.tag-private,
path.line.casing.tag-service.tag-private {
    stroke: rgb(143, 32, 32);
}
path.line.casing.tag-highway-service.tag-customers,
path.line.casing.tag-service.tag-customers {
    stroke: rgb(219, 131, 30);
}
path.line.casing.tag-highway-service.tag-destination,
path.line.casing.tag-service.tag-destination {
    stroke: rgb(199, 117, 174);
}

/* unmaintained track roads */
path.line.stroke.tag-highway-track,
path.line.stroke.tag-track {
    stroke: #c5b59f;
}
path.line.casing.tag-highway-track,
path.line.casing.tag-track {
    stroke: #494949;
}


/* footways and cycleways */
path.line.stroke.tag-highway-path,
path.line.stroke.tag-highway-footway,
path.line.stroke.tag-highway-cycleway,
path.line.stroke.tag-highway-bridleway {
    /*stroke-linecap: butt;
    stroke-dasharray: 8, 2;*/
}

.low-zoom path.line.stroke.tag-highway-path,
.low-zoom path.line.stroke.tag-highway-footway,
.low-zoom path.line.stroke.tag-highway-cycleway,
.low-zoom path.line.stroke.tag-highway-bridleway {
    /*stroke-linecap: butt;
    stroke-dasharray: 4, 1;*/
}


/* footway, etc. */
path.line.stroke.tag-footway-access_aisle,
path.line.stroke.tag-public_transport-platform,
path.line.stroke.tag-highway-platform,
path.line.stroke.tag-railway-platform,
path.line.stroke.tag-man_made-pier {
    stroke: #dca;
}
path.line.casing.tag-highway-path,
path.line.casing.tag-highway-path.tag-unpaved,
path.line.casing.tag-highway-footway.tag-public_transport-platform,
path.line.casing.tag-highway-footway.tag-man_made-pier,
path.line.casing.tag-highway.tag-footway-access_aisle {
    /*stroke: rgb(255, 255, 255);
    stroke-linecap: butt;*/
    stroke-dasharray: none;
}
path.line.casing.tag-highway-footway,
path.line.casing.tag-highway-bridleway,
path.line.casing.tag-highway-footway.tag-unpaved,
path.line.casing.tag-highway-bridleway.tag-unpaved {
    /*stroke: #fff;
    stroke-linecap: butt;*/
    stroke-dasharray: none;
}




/* crossings */
path.line.casing.tag-crossing-unmarked, path.line.casing.tag-crossing-marked {
  opacity: 0.5;
}
path.line.stroke.tag-crossing-unmarked, path.line.stroke.tag-crossing-marked {
  opacity: 0.5;
}
path.line.stroke.tag-crossing-marked {
  stroke-linecap: butt;
  stroke-dasharray: 2, 2 !important;
  stroke-width: 6;
}

/* cycleway marked crossing with no foot */
path.line.over-stroke.tag-crossing-marked.tag-highway-cycleway {
  stroke:rgb(182, 232, 255);
  stroke-width: 2;
}
/* cycleway marked crossing with foot */
path.line.over-stroke.tag-highway-cycleway.tag-foot-designated, path.line.over-stroke.tag-highway-cycleway.tag-foot-yes {
  stroke: none;
}

/* cycleways */
path.line.casing.tag-highway-cycleway {
  stroke: rgb(93, 159, 190);
  stroke-linecap: butt;
  stroke-dasharray: none;
}
path.line.stroke.tag-highway-cycleway {
  stroke: rgba(182, 232, 255);
}
path.line.stroke.tag-highway-cycleway.tag-foot-designated, path.line.stroke.tag-highway-cycleway.tag-foot-yes {
  stroke:rgb(182, 232, 255);
  stroke-dasharray: 12, 3;
  stroke-linecap: butt;
}
path.line.casing.tag-bicycle-dismount {
  stroke: rgb(146, 106, 255) !important;
}
path.line.casing.tag-highway-cycleway.tag-lcn-yes {
  stroke-width: 12 !important;
  /*stroke: rgb(146, 106, 255) !important;*/
}


/* cycleways segregated and not segregated */
path.line.stroke.tag-highway-cycleway.tag-segregated-yes {
  stroke-dasharray: 12, 3, 2, 3 !important;
}
path.line.stroke.tag-crossing-marked.tag-highway-cycleway.tag-segregated-yes {
  stroke-dasharray: 6, 2, 2, 2 !important;
}

path.line.stroke.tag-highway-cycleway.tag-foot-designated, path.line.stroke.tag-highway-cycleway.tag-foot-yes {
  stroke:rgb(182, 232, 255);
  stroke-dasharray: 12, 3;
  stroke-linecap: butt;
}




/* footways */
path.line.casing.tag-highway-footway, 
path.line.casing.tag-highway-footway.tag-unpaved {
  stroke: rgb(141, 101, 40);
  stroke-linecap: butt;
  stroke-dasharray: none;
}
path.line.stroke.tag-highway-footway, 
path.line.stroke.tag-highway-footway.tag-unpaved {
  stroke:rgb(255, 241, 202);
}

/* access aisles */
path.line.casing.tag-highway-footway.tag-footway-access_aisle, 
path.line.casing.tag-highway-footway.tag-footway-access_aisle.tag-unpaved {
  stroke: rgb(141, 101, 40);
  stroke-linecap: butt;
  stroke-dasharray: 4 4;
}
path.line.stroke.tag-highway-footway.tag-footway-access_aisle, 
path.line.stroke.tag-highway-footway.tag-footway-access_aisle.tag-unpaved {
  stroke:rgb(255, 241, 202);
  stroke-linecap: butt;
  stroke-dasharray: 4 4;
}


/* sidewalks */
path.line.casing.tag-highway-footway.tag-footway-sidewalk, 
path.line.casing.tag-highway-footway.tag-footway-sidewalk.tag-unpaved {
  stroke: rgb(206, 178, 136);
  stroke-linecap: butt;
  stroke-dasharray: none;
}
path.line.casing.tag-highway-footway.tag-footway-sidewalk.tag-bicycle-yes,
path.line.casing.tag-highway-footway.tag-crossing.tag-bicycle-yes {
  stroke: rgb(22, 96, 255);
  stroke-linecap: butt;
  stroke-dasharray: none;
}
path.line.casing.tag-highway-footway.tag-crossing.tag-bicycle-no {
  stroke: rgb(255, 83, 83);
  stroke-linecap: butt;
  stroke-dasharray: none;
}


/* paths */
path.line.stroke.tag-highway-path {
  stroke: rgb(235, 205, 160);
  opacity: 0.5;
  stroke-linecap: butt;
  stroke-dasharray: 8, 2;
  stroke-width: 4;
}
path.line.casing.tag-highway-path {
  stroke: rgb(0,0,0);
  opacity: 0.5;
  stroke-dasharray: none;
  stroke-width: 4;
}

/* steps */
path.line.casing.tag-highway-steps {
  stroke: rgb(141, 101, 40);
  stroke-linecap: butt;
  stroke-dasharray: none;
}
path.line.stroke.tag-highway-steps {
  stroke:rgb(255, 241, 202);
  stroke-linecap: butt;
  stroke-dasharray: 3, 3;
}

/* access: private, customers, delivery... */
path.line.casing.tag-access-customers, path.line.casing.tag-motor_vehicle-customers {
  stroke: rgb(255, 136, 0) !important;
}
path.line.casing.tag-access-private, path.line.casing.tag-motor_vehicle-private {
  stroke: rgb(189, 0, 0) !important;
}
path.line.over-stroke.tag-access-private.tag-foot-yes, 
path.line.over-stroke.tag-motor_vehicle-private.tag-foot-yes, 
path.line.over-stroke.tag-access-customers.tag-foot-yes, 
path.line.over-stroke.tag-motor_vehicle-customers.tag-foot-yes,
path.line.over-stroke.tag-access-private.tag-foot-designated, 
path.line.over-stroke.tag-motor_vehicle-private.tag-foot-designated, 
path.line.over-stroke.tag-access-customers.tag-foot-designated, 
path.line.over-stroke.tag-motor_vehicle-customers.tag-foot-designated {
  stroke: #aedf8e !important;
  stroke-width: 2 !important;
}
path.line.casing.tag-access-delivery, path.line.casing.tag-motor_vehicle-delivery {
  stroke: rgb(63, 214, 156) !important;
}
path.line.casing.tag-access-permissive, path.line.casing.tag-motor_vehicle-permissive {
  stroke: rgb(212, 67, 0) !important;
}
path.line.casing.tag-access-destination, path.line.casing.tag-motor_vehicle-destination {
  stroke: rgb(255, 55, 188) !important;
}



/* unpaved, gravel, etc. */
/*path.line.casing.tag-surface-unpaved {
  stroke: rgb(63, 214, 202) !important;
}*/

/* cycleway unmarked crossing */


/* maxspeeds */

path.stroke.tag-highway.tag-maxspeed-10 {
  stroke-linecap: butt;
  stroke-dasharray: 3, 0.5;
}

path.stroke.tag-highway.tag-maxspeed-20 {
  stroke-linecap: butt;
  stroke-dasharray: 4, 0.5;
}

path.stroke.tag-highway.tag-maxspeed-30 {
  stroke-linecap: butt;
  stroke-dasharray: 8, 0.5;
}

path.stroke.tag-highway.tag-maxspeed-40 {
  stroke-linecap: butt;
  stroke-dasharray: 12, 0.5;
}

path.stroke.tag-highway.tag-maxspeed-50 {
  stroke-linecap: butt;
  stroke-dasharray: 20, 0.5;
}

path.stroke.tag-highway.tag-maxspeed-60 {
  stroke-linecap: butt;
  stroke-dasharray: 35, 0.5;
}

path.stroke.tag-highway.tag-maxspeed-70 {
  stroke-linecap: butt;
  stroke-dasharray: 60, 0.5;
}

/* tertiary maxpseed */
path.stroke.tag-highway-tertiary.tag-maxspeed-10,
path.stroke.tag-highway-tertiary_link.tag-maxspeed-10 {
  stroke-dasharray: 3, 1;
}

path.stroke.tag-highway-tertiary.tag-maxspeed-20,
path.stroke.tag-highway-tertiary_link.tag-maxspeed-20 {
  stroke-dasharray: 4, 1;
}

path.stroke.tag-highway-tertiary.tag-maxspeed-30,
path.stroke.tag-highway-tertiary_link.tag-maxspeed-30 {
  stroke-dasharray: 8, 1;
}

path.stroke.tag-highway-tertiary.tag-maxspeed-40,
path.stroke.tag-highway-tertiary_link.tag-maxspeed-40 {
  stroke-dasharray: 12, 1;
}

path.stroke.tag-highway-tertiary.tag-maxspeed-50,
path.stroke.tag-highway-tertiary_link.tag-maxspeed-50 {
  stroke-dasharray: 20, 1;
}

path.stroke.tag-highway-tertiary.tag-maxspeed-60,
path.stroke.tag-highway-tertiary_link.tag-maxspeed-60 {
  stroke-dasharray: 35, 1;
}

path.stroke.tag-highway-tertiary.tag-maxspeed-70,
path.stroke.tag-highway-tertiary_link.tag-maxspeed-70 {
  stroke-dasharray: 60, 1;
}


/* sidewalk separate */
path.stroke.tag-sidewalk-separate {
  stroke-width: 8 !important;
}
path.casing.tag-sidewalk-separate.tag-sidewalk_left-separate.tag-sidewalk_right-separate,
path.casing.tag-sidewalk-both {
  stroke: rgb(0, 121, 16) !important;
}
path.casing.tag-sidewalk-separate.tag-sidewalk_left-no.tag-sidewalk_right-separate,
path.casing.tag-sidewalk-right {
  stroke: rgb(190, 139, 255) !important;
}
path.casing.tag-sidewalk-separate.tag-sidewalk_left-separate.tag-sidewalk_right-no, 
path.casing.tag-sidewalk-left {
  stroke: rgb(152, 179, 31) !important;
}

/* cycleway lanes/shared on road */
path.over-stroke.tag-cycleway-lane,
path.over-stroke.tag-cycleway-shared_lane,
path.over-stroke.tag-cycleway_both-lane,
path.over-stroke.tag-cycleway_both-shared_lane,
path.over-stroke.tag-cycleway_left-lane,
path.over-stroke.tag-cycleway_left-shared_lane,
path.over-stroke.tag-cycleway_right-lane,
path.over-stroke.tag-cycleway_right-shared_lane {
  stroke-width: 1 !important;
  /*stroke-dasharray: 8, 4;*/
  stroke:  rgb(0, 174, 255);
}


/* foot/bicycle shared */
path.over-stroke.tag-sidewalk-shared,
path.over-stroke.tag-sidewalk_left-shared,
path.over-stroke.tag-sidewalk_right-shared,
path.over-stroke.tag-sidewalk_both-shared
{
  stroke-width: 2 !important;
  /*stroke-dasharray: 8, 4;*/
  stroke:  rgb(255, 124, 244);
}

/* sidewalk/cycleway no-name */
path.over-stroke.tag-footway-sidewalk.tag-name-no,
path.over-stroke.tag-crossing.tag-name-no,
path.over-stroke.tag-crossing.tag-crossing-marked.tag-highway-cycleway.tag-name-no,
path.over-stroke.tag-crossing.tag-crossing-unmarked.tag-highway-cycleway.tag-name-no {
  stroke-width: 1 !important;
  stroke-dasharray: 6, 6 !important;
  stroke:  rgb(255, 81, 0) !important;
}


/* errors */
path.casing.tag-highway-cycleway.tag-segregated-undefined.tag-foot-designated, 
path.casing.tag-highway-cycleway.tag-segregated-undefined.tag-foot-yes,
path.casing.tag-highway.tag-sidewalk-undefined,
path.casing.tag-highway.tag-maxspeed-undefined,
path.casing.tag-highway.tag-lanes-undefined {
  stroke: rgb(0, 0, 0) !important;
  stroke-dasharray: none !important;
}
path.stroke.tag-highway-cycleway.tag-segregated-undefined.tag-foot-designated,
path.stroke.tag-highway-cycleway.tag-segregated-undefined.tag-foot-yes {
  stroke: rgb(255, 0, 0) !important;
  stroke-dasharray: 2, 2 !important;
  stroke-linecap: butt !important;
}
path.stroke.tag-highway.tag-sidewalk-undefined {
  stroke: rgb(255, 102, 0) !important;
  stroke-dasharray: 2, 2 !important;
  stroke-linecap: butt !important;
}
path.stroke.tag-highway.tag-sidewalk-separate.tag-foot-not-use_sidepath:not(.tag-sidewalk-shared):not(.tag-sidewalk_left-shared):not(.tag-sidewalk_right-shared):not(.tag-sidewalk_both-shared) {
  stroke: rgb(255, 72, 0) !important;
  stroke-dasharray: 2, 2 !important;
  stroke-linecap: butt !important;
}
path.stroke.tag-highway.tag-maxspeed-undefined,
path.stroke.tag-highway.tag-maxspeed-more_than_60.tag-highway-residential {
  stroke: rgb(255, 0, 0) !important;
  stroke-dasharray: 2, 2 !important;
  stroke-linecap: butt !important;
}
path.stroke.tag-highway.tag-lanes-undefined {
  stroke: rgb(255, 230, 0) !important;
  stroke-dasharray: 2, 2 !important;
  stroke-linecap: butt !important;
}
path.over-stroke.tag-cycleway-track,
path.over-stroke.tag-cycleway_left-track,
path.over-stroke.tag-cycleway_right-track,
path.over-stroke.tag-cycleway_both-track {
  stroke-width: 1 !important;
  /*stroke-dasharray: 8, 4;*/
  stroke:  rgb(255, 0, 0) !important;
}