/* aeroways */

/* areas */
path.stroke.area.tag-aeroway,
.low-zoom path.stroke.area.tag-aeroway {
    stroke: #fff;
    stroke-dasharray: none;
    stroke-width: 1;
}

/* narrow aeroways (taxiway) */

path.shadow.tag-aeroway-taxiway,
path.shadow.tag-taxiway {
    stroke-width: 16;
}
path.casing.tag-aeroway-taxiway,
path.casing.tag-taxiway {
    stroke-width: 7;
}
path.stroke.tag-aeroway-taxiway,
path.stroke.tag-taxiway {
    stroke-width: 5;
}

.low-zoom path.shadow.tag-aeroway-taxiway,
.low-zoom path.shadow.tag-taxiway {
    stroke-width: 12;
}
.low-zoom path.casing.tag-aeroway-taxiway,
.low-zoom path.casing.tag-taxiway {
    stroke-width: 5;
}
.low-zoom path.stroke.tag-aeroway-taxiway,
.low-zoom path.stroke.tag-taxiway {
    stroke-width: 3;
}

.preset-icon .icon.tag-aeroway-taxiway,
.preset-icon .icon.tag-taxiway {
    color: #ff0;
    fill: #666;
}
path.stroke.tag-aeroway-taxiway,
path.stroke.tag-taxiway {
    stroke: #ff0;
}
path.casing.tag-aeroway-taxiway,
path.casing.tag-taxiway {
    stroke: #666;
}


/* wide aeroways (runway) */

.preset-icon .icon.tag-aeroway-runway,
.preset-icon .icon.tag-runway {
    color: #444;
    fill: #000;
}
path.shadow.tag-aeroway-runway {
    stroke-width: 20;
}
path.casing.tag-aeroway-runway {
    stroke-width: 10;
    stroke: #000;
    stroke-linecap: square;
}
path.stroke.tag-aeroway-runway {
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: butt;
    stroke-dasharray: 24, 48;
}

.low-zoom path.shadow.tag-aeroway-runway {
    stroke-width: 16;
}
.low-zoom path.casing.tag-aeroway-runway {
    stroke-width: 7;
}
.low-zoom path.stroke.tag-aeroway-runway {
    stroke-width: 2;
    stroke-dasharray: 12, 24;
}

path.fill.tag-aeroway-runway {
    stroke: rgba(0, 0, 0, 0.6);
    fill: rgba(0, 0, 0, 0.6);
}

