/* railways */
.preset-icon .icon.tag-railway.other-line {
    color: #fff;
    fill: #777;
}
.preset-icon .icon.tag-railway {
    color: #555;
    fill: #eee;
}

/* railway areas */
path.stroke.area.tag-railway,
.low-zoom path.stroke.area.tag-railway {
    stroke: white;
    stroke-width: 1;
    stroke-dasharray: none;
}

path.casing.area.tag-railway,
.low-zoom path.casing.area.tag-railway {
    stroke: none;
}

/* narrow widths */
path.shadow.tag-railway {
    stroke-width: 16;
}
path.casing.tag-railway {
    stroke-width: 7;
}
path.stroke.tag-railway {
    stroke-width: 2;
    stroke-linecap: butt;
    stroke-dasharray: 12,12;
}

.low-zoom path.shadow.tag-railway {
    stroke-width: 12;
}
.low-zoom path.casing.tag-railway {
    stroke-width: 5;
}
.low-zoom path.stroke.tag-railway {
    stroke-width: 2;
    stroke-dasharray: 6,6;
}


/* styles */
path.casing.tag-railway {
    stroke: #555;
}
path.stroke.tag-railway {
    stroke: #eee;
}


.preset-icon .icon.tag-railway-disused,
.preset-icon .icon.tag-railway-abandoned {
    color: #999;
    fill: #eee;
}
path.casing.tag-railway-disused,
path.casing.tag-railway-abandoned {
    stroke: #999;
}
path.stroke.tag-railway-disused,
path.stroke.tag-railway-abandoned {
    stroke: #eee;
}


.preset-icon .icon.tag-railway-subway {
    color: #222;
    fill: #bbb;
}
path.casing.tag-railway-subway {
    stroke: #222;
}
path.stroke.tag-railway-subway {
    stroke: #bbb;
}
