/* Cursors */

.nope,
.nope * {
    cursor: not-allowed !important;
}

.map-in-map,
#map {
    cursor: auto; /* Opera */
    cursor: url(img/cursor-grab.png) 9 9, auto; /* FF */
}

.mode-browse .point,
.mode-select .point {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-select-point.png), pointer; /* FF */
}

.mode-select .vertex,
.mode-browse .vertex {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-select-vertex.png), pointer; /* FF */
}

.mode-browse .line,
.mode-select .line {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-select-line.png), pointer; /* FF */
}

.mode-select .area,
.mode-browse .area {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-select-area.png), pointer; /* FF */
}

.mode-select .midpoint,
.mode-browse .midpoint {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-select-split.png), pointer; /* FF */
}

.mode-select .behavior-multiselect .point,
.mode-select .behavior-multiselect .vertex,
.mode-select .behavior-multiselect .line,
.mode-select .behavior-multiselect .area {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-select-add.png), pointer; /* FF */
}

.mode-select .behavior-multiselect .selected {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-select-remove.png), pointer; /* FF */
}

.mode-draw-line #map,
.mode-draw-area #map,
.mode-add-line  #map,
.mode-add-area  #map,
.mode-drag-node #map,
.mode-drag-note #map {
    cursor: crosshair; /* Opera */
    cursor: url(img/cursor-draw.png) 9 9, crosshair; /* FF */
}

.mode-draw-line .way.target,
.mode-draw-area .way.target,
.mode-add-line  .way.target,
.mode-add-area  .way.target,
.mode-drag-node .way.target {
    cursor: crosshair; /* Opera */
    cursor: url(img/cursor-draw-connect-line.png) 9 9, crosshair; /* FF */
}

.mode-draw-line .vertex.target,
.mode-draw-area .vertex.target,
.mode-add-line  .vertex.target,
.mode-add-area  .vertex.target,
.mode-drag-node .vertex.target {
    cursor: crosshair; /* Opera */
    cursor: url(img/cursor-draw-connect-vertex.png) 9 9, crosshair; /* FF */
}

.mode-add-point #map,
.mode-add-note #map,
.mode-browse.lasso #map,
.mode-browse.lasso .way,
.mode-browse.lasso .vertex,
.mode-browse.lasso .midpoint,
.mode-select.lasso #map,
.mode-select.lasso .way,
.mode-select.lasso .vertex,
.mode-select.lasso .midpoint {
    cursor: crosshair; /* Opera */
    cursor: url(img/cursor-draw.png) 9 9, crosshair; /* FF */
}

.turn rect,
.turn circle {
    cursor: pointer;
}
