
/* OSM Notes Layer */
.layer-notes {
    pointer-events: none;
}
.layer-notes * {
    pointer-events: visible;
    cursor: pointer;
}
.layer-notes .note-shadow {
    color: #000;
}
.layer-notes .note-fill {
    color: #ee3;
}

/* OSM Note UI */
.comment-first {
    background-color:#ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 5px auto;
}
.comment {
    background-color:#fff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px auto;
}
.commentCreator {
    color: #666;
}
.commentText {
    margin: 20px auto;
}
