body {
    font:normal 12px/20px 'Helvetica Neue', Arial, sans-serif;
    margin:0;
    padding:0;
    color:#444;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    line-height:40px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    line-height:30px;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

p {
    margin:0;
    padding:0;
}

a:visited, a {
    color: #345692;
}

a:hover {
    color:#000;
}

input[type=text] {
    font-size:12px;
    line-height:20px;
    padding:1px 2px;
}

input[type=text]:focus {
    border-color:#222;
}

button {
    background:#7092ff;
    border:0;
    color:#fff;
    font-size:12px;
    line-height:18px;
    margin:5px 5px 0 0;
    cursor:pointer;
}

button.cancel {
    background:#aaa;
}
button.delete {
    background:#DD5757;
}

button small {
    display: inline-block;
    font-weight: normal;
    font-size:12px;
    line-height:20px;
    vertical-align: top;
}

table th {
    text-align:left;
}

#map {
    display:block;
    position:absolute;
    top:40px;
    left:0;
    right:0;
    bottom:0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAI0lEQVQIW2NkYGD4f+/ePSAFAYxAzn84D1lASUmJAaQSQwUAcxYRaXDVJ6QAAAAASUVORK5CYII=);
}

#about {
    position:absolute;
    bottom:5px;
    right:5px;
    background:#fff;
    padding:2px 5px;
}

#bar {
    background:#fff;
    position:absolute;
    left:0px;
    top:0px;
    height:40px;
    right:0;
}

input#geocode-location {
    position:absolute;
    background:#f4f4ff;
    color:#222;
}

#bar button {
    width:80px;
    white-space:nowrap;
    cursor:pointer;
    display:inline-block;
    background:#fff;
    color:#222;
    font-weight:bold;
    font-size:14px;
    line-height:19px;
    border:0;
    border-right:1px solid #eee;
    padding:0 10px;
    height:40px;
    margin:0;
}

#bar .messages {
    position:absolute;
    right:200px;
    top:0;
    padding:10px;
    overflow:hidden;
    width:100px;
}

#bar .user {
    width:200px;
    position:absolute;
    right:300px;
    top:0;
    padding:10px;
}

#bar .user .logout {
    text-decoration:underline;
    margin-left:10px;
    cursor:pointer;
}

#bar button[disabled] {
    color:#eee;
    cursor:auto;
}

#bar button.active:not([disabled]) {
    background:#eee;
    color:#000;
}

#bar button.save {
    position:absolute;
    top:0;
    right:100px;
    background:#7092ff;
    color:#fff;
}

#bar button.mini,
#bar button.mini {
    width:auto;
}

#bar input[type=text] {
    width:150px;
    height:30px;
    border:0;
    padding:5px;
    margin:0;
}

.zoombuttons {
    position:absolute;
    right:0;
    top:0;
}
#bar .zoombuttons button {
    width:50px;
}

.inspector-wrap {
    position:absolute;
    top:40px;
    right:0px;
    overflow:auto;
    padding:10px;
    background:#fff;
    width:350px;
}

.inspector-wrap a.permalink {
    text-decoration:none;
    margin-right:1em;
}

.inspector tbody td {
    border: 1px solid #ccc;
    width:150px;
}

.inspector input {
    margin:0;
    padding:4px;
    border:0;
    background:#fff;
    width:150px;
}

.inspector-wrap table {
    border-collapse: collapse;
    width:347px;
    border-spacing:0;
}

.inspector-wrap .tag-table-wrap {
    max-height:350px;
    overflow:auto;
}

.inspector-wrap table td {
    padding:0;
    border-spacing:0;
}

.inspector-wrap .close {
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.modal {
    width:640px;
    height:550px;
    padding:10px;
    position:absolute;
    background:#f0f0f0;
    top:50px;
    left:50%;
    margin-left:-330px;
    box-shadow:0 0 5px #000;
}

.modal.loading-pane {
    width:300px;
    height:200px;
    margin-left:-160px;
}

.shaded:before {
    content:'';
    background:rgba(0,0,0,0.5);
    position:fixed;
    left:0px; right:0px; top:0px; bottom:0px;
}

.commit-pane h3 small.count {
    font-size:12px;
    font-weight: normal;
    line-height:40px;
    border-radius:20px;
    padding:5px;
    background:#7092ff;
    margin-left:10px;
    color:#fff;
}

.commit-pane ul {
    border-bottom:1px solid #ccc;
    background:#fff;
}

.commit-pane li {
    border-top:1px solid #ccc;
    padding:2px 10px;
}

.commit-pane .changeset-comment {
    width:630px;
    font-size:12px;
}

.commit-section {
    max-height:250px;
    overflow:scroll;
}

/* mobile tweaks */
* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout:none;
}
