/* Basics
------------------------------------------------------- */

body {
    font:normal 12px/20px 'Helvetica Neue', Arial, sans-serif;
    margin:0;
    padding:0;
    color:#222;
}

#iD * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    line-height:40px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    line-height:30px;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

p {
    margin:0;
    padding:0;
}

a:visited, a {
    color: #345692;
}

a:hover {
    color:#000;
}

table th {
    text-align:left;
}

input[type=text] {
    font-size:12px;
    line-height:20px;
    padding:1px 2px;
}

input[type=text]:focus {
    border-color:#222;
}

/* Utility Classes
------------------------------------------------------- */

.fillL { background-color: white;}
.fillL2 { background: #f7f7f7 url(/img/background-pattern-1.png) repeat;}
.fillD {
    background-color: #222222;
    color: white;
}
div.hide {
    display:none;
}

a.selected {
    background:#DDE4FF;
}

/* Buttons */

button {
    border:0;
    line-height:20px;
    cursor:pointer;
    border:1px solid #aaa;
    box-shadow: inset 0 0 0 1px #fff;
    color:#222;
    background: white;
    font-weight:bold;
    white-space:nowrap;
    font-size:14px;
    display: inline-block;
    height:40px;
}

button:hover {
    background-color: #ececec;
}

button.active:not([disabled]) {
    background:#aaa;
    color:#fff;
}

button.wide,
button.narrow {
    border-radius:4px;
}

button.wide {
    margin: 10px;
    width: 100px;
}

button.add-button {
    width: 80px;
}

button.narrow,
button.Browse {
    width:40px;
}

.buttons-joined {
    display: inline-block;
    margin:10px;
}

.buttons-joined button {
    border-right-width: 0;
    border-radius:0;
    margin: 0;
}

.buttons-joined button:first-child {
    border-radius:4px 0 0 4px;
}

.buttons-joined button:last-child {
    border-right-width: 1px;
    border-radius:0 4px 4px 0;
}

button[disabled] {
    color:#ccc;
    cursor:auto;
}

button.action {
    background: #7092ff;
}
button.action:hover {
    background: #6282ee;
}

button.delete {
    background: #ff7070;
}
button.delete:hover {
    background: #ef5454;
}

button.save {
    background:#6bc641;
}
button.save:hover {
    background: #59ac33;
}

button.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

input[type=text] {
    width:150px;
    height:20px;
    border:1px solid #ccc;
    padding:5px;
    margin:0;
}

button small {
    display: inline-block;
    font-weight: normal;
    font-size:12px;
    line-height:20px;
    vertical-align: top;
}

button .label {
    margin-right: 3px;
    text-shadow: 0 1px 0 white;
}

.active .label {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

button.action .label {
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

/* Icons */

.icon {
  display:inline-block;
  vertical-align:top;
  width:20px;
  height:20px;
  background:transparent url(/img/sprite.png) no-repeat 0px 0px;
  text-indent:-9999px;
  overflow:hidden;
  }

.icon.icon-pre-text {
  margin-right: 3px;
}

.icon.browse     { background-position:   0px 0px;}
.icon.add-place  { background-position: -20px 0px;}
.icon.add-road   { background-position: -40px 0px;}
.icon.add-area   { background-position: -60px 0px;}
.icon.undo       { background-position: -80px 0px;}
.icon.redo       { background-position: -100px 0px;}
.apply.icon      { background-position: -120px 0px;}
.save.icon       { background-position: -140px 0px;}
.close.icon      { background-position: -160px 0px;}
.delete.icon     { background-position: -180px 0px;}

.active .icon.browse     { background-position:   0px -20px;}
.active .icon.add-place  { background-position: -20px -20px;}
.active .icon.add-road   { background-position: -40px -20px;}
.active .icon.add-area   { background-position: -60px -20px;}
.active .icon.undo       { background-position: -80px -20px;}
.active .icon.redo       { background-position: -100px -20px;}
.active .apply.icon      { background-position: -120px -20px;}
.active .save.icon       { background-position: -140px -20px;}
.active .close.icon      { background-position: -160px -20px;}
.active .delete.icon     { background-position: -180px -20px;}


button[disabled] .icon.browse     { background-position:   0px -40px;}
button[disabled] .icon.add-place  { background-position: -20px -40px;}
button[disabled] .icon.add-road   { background-position: -40px -40px;}
button[disabled] .icon.add-area   { background-position: -60px -40px;}
button[disabled] .icon.undo       { background-position: -80px -40px;}
button[disabled] .icon.redo       { background-position: -100px -40px;}
button[disabled] .apply.icon      { background-position: -120px -40px;}
button[disabled] .save.icon       { background-position: -140px -40px;}
button[disabled] .close.icon      { background-position: -160px -40px;}
button[disabled] .delete.icon     { background-position: -180px -40px;}

/* ToolBar / Persistent UI Elements
------------------------------------------------------- */

#bar {
    border-bottom:1px solid #ccc;
    position:absolute;
    left:0px;
    top:0px;
    right:0;
    height:60px;
}

/* Special rules for toolbar icons */

button.Browse .label {
    display: none;
 }

/* Status box */

.messages {
    display:none;
}

/* Inspector */

.inspector-wrap {
    position:absolute;
    right: 0;
    left: 530px;
    min-height: 60px;
    opacity:0;
    display:none;
}

.inspector-inner {
    padding: 10px;
}

.inspector-wrap a.permalink {
    text-decoration:none;
    margin-right:1em;
}

.inspector tbody td {
    border: 1px solid #ccc;
    width:150px;
}

.inspector input {
    margin:0;
    padding:4px;
    border:0;
    background:#fff;
    width:150px;
}

.inspector-wrap table {
    border-collapse: collapse;
    width:100%;
    border-spacing:0;
}

.inspector-wrap .tag-table-wrap {
    max-height:350px;
    border-top: 1px solid #ccc;
    overflow:auto;
}

.inspector-wrap table td {
    padding:0;
    border-spacing:0;
}

.inspector-wrap .buttons {
    margin-top: 10px;
    border-top: 1px solid #ccc;
}

/* Map Controls */

.map-control {
    left:10px;
    position:absolute;
}

.map-control button {
    text-indent: -9999px;
    overflow: hidden;
    background-image: url(/img/sprite.png);
}

/* Zoomer */

.zoombuttons {
    top:70px;
    width: 40px;
}

.zoombuttons button.zoom-in {
    background-position: 10px -90px;
    border-bottom:0;
    border-radius:4px 4px 0 0;
}

.zoombuttons button.zoom-out {
    background-position: -30px -90px;
    border-radius:0 0 4px 4px;
}

/* Layer Switcher */

.layerswitcher-control {
    top:210px;
}

.layerswitcher-control button {
    background-position: -110px -90px;
}

.layerswitcher-control .content {
    background:#fff;
    padding:5px;
    position:absolute;
    left:40px;
    width:100px;
    top:0;
}

.layerswitcher-control .opacity-options {
    border:1px solid #000;
    height:15px;
    width:45px;
}

.layerswitcher-control a.layer {
    display:block;
}

.layerswitcher-control a.opacity {
    background:#000;
    display:inline-block;
    width:15px;
    height:15px;
}

/* Geocoder */

.geocode-control {
    top:160px;
}

.geocode-control button {
    background-position: -70px -90px;
}

.geocode-control input {
    display:none;
}

/* Map
------------------------------------------------------- */

#map {
    display:block;
    position:absolute;
    overflow:hidden;
    top:45px;
    left:0;
    right:0;
    bottom:0;
    background:#fff;
}

img.tile {
    position:absolute;
    transform-origin:0 0;
    -ms-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -o-transform-origin:0 0;
}

#tile-g {
    position:absolute;
    top:0;
}

/* About Section
------------------------------------------------------- */

#about {
    position:absolute;
    bottom:5px;
    right:5px;
    background:#fff;
    padding:2px 5px;
}

/* Account Information
------------------------------------------------------- */

.user {
    width:200px;
    position:absolute;
    bottom:10px;
    left:10px;
    background:#fff;
    padding:2px 5px;
    border-radius:3px;
    border:1px solid #aaa;
}

.user .logout {
    margin-left:10px;
}

div.typeahead {
    background:#fff;
    width:148px;
    border:1px solid #ccc;
}

div.typeahead a {
    padding:1px 4px;
    display:block;
}

/* Modals
------------------------------------------------------- */

.modal {
    width:640px;
    height:550px;
    padding:10px;
    position:absolute;
    background:#f0f0f0;
    top:50px;
    left:50%;
    margin-left:-330px;
    box-shadow:0 0 5px #000;
}

.modal.modal-alert {
    width:320px;
    height:100px;
    margin-left:-160px;
}

.shaded:before {
    content:'';
    background:rgba(0,0,0,0.5);
    position:fixed;
    left:0px; right:0px; top:0px; bottom:0px;
}

.commit-modal h3 small.count {
    font-size:12px;
    font-weight: normal;
    line-height:40px;
    border-radius:20px;
    padding:5px;
    background:#7092ff;
    margin-left:10px;
    color:#fff;
}

.commit-modal ul {
    border-bottom:1px solid #ccc;
    background:#fff;
}

.commit-modal li {
    border-top:1px solid #ccc;
    padding:2px 10px;
}

.commit-modal .changeset-comment {
    width:630px;
    /* firefox uses monospace in textareas */
    font:normal 12px/20px 'Helvetica Neue', Arial, sans-serif;
}

.commit-section {
    max-height:250px;
    overflow:auto;
}

/* Tooltips
------------------------------------------------------- */

#bar button .tooltip {
    white-space: normal;
}

.tooltip {
    position: absolute;
    z-index: 1030;
    padding: 5px;
    font-size: 11px;
    opacity: 0;
    display: none;
    filter: alpha(opacity=0);
    visibility: visible;
}

.tooltip.in {
    display: block;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: #000000;
    border-width: 0 5px 5px;
}

/* Mobile Tweaks
------------------------------------------------------- */
* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout:none;
}