body {
    font:normal 13px/20px Helvetica, Arial, sans-serif;
    background:#e4e4e4;
}
:focus {
    outline-color: transparent;
    outline-style: none;
}
p {
    font-size: x-small;
}
a:visited, a {
    color: black;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

text {
    -webkit-user-select: none;
    -moz-user-select: none;
}

.currentMode {
    font-weight: bold;
}

/* Zoom controls */
#zoombuttons {
    position:absolute;
    right:20px;
    top:20px;
}

#zoombuttons button {
    cursor:pointer;
    width:30px;
    height:30px;
    text-align:center;
    margin:0;
    background:#fff;
    color:#555;
    font:bold 20px/20px 'Helvetica';
    border:1px solid #888;
}

#zoombuttons button:active {
    background:#eee;
}

#zoombuttons #zoomIn {
    border-radius: 4px 0 0 4px;
}

#zoombuttons #zoomOut {
    border-left:0;
    border-radius: 0 4px 4px 0;
}

/* Tag window */
#tagform input.key {
    margin-right:10px;
}
#tagform input.key,
#tagform input.value {
    font: normal 13px/20px 'Helvetica';
    width:135px;
}

polyline.way-fill {
    cursor: pointer;
}
