.curtain-darkness {
    fill-opacity: 0.7;
    fill: #222;
}

.intro-nav-wrap {
    position: absolute;
    left: 30px;
    right: 500px;
    bottom: 30px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1001;
}

.intro-nav-wrap button.step {
    padding: 20px;
    padding-bottom: 40px;
}

.intro-nav-wrap button.step.finished {
    background: #74C574;
}

.intro-nav-wrap button.step h3 {
    font-weight: normal;
}
.curtain-tooltip .tooltip-inner {
    font-size: 14px;
    font-weight: normal;
}
.curtain-tooltip .tooltip-inner .bold {
    font-weight: bold;
    display: block;
}

/*
.curtain-tooltip .tooltip-inner {
    border-radius: 4px;
    font-size: 14px;
    border: 4px solid #7092ff;
}
.curtain-tooltip.right .tooltip-arrow {
    border-right-color: #7092ff;
}
.curtain-tooltip.bottom .tooltip-arrow {
    border-bottom-color: #7092ff;
}
.curtain-tooltip.left .tooltip-arrow {
    border-left-color: #7092ff;
}
*/
