/* glue: 0.3 hash: 93c01f1651 */
.maki-zoo-24,
.maki-x-24,
.maki-waste-basket-24,
.maki-warehouse-24,
.maki-triangle-stroked-24,
.maki-triangle-24,
.maki-town-hall-24,
.maki-toilets-24,
.maki-theatre-24,
.maki-tennis-24,
.maki-swimming-24,
.maki-star-stroked-24,
.maki-star-24,
.maki-square-stroked-24,
.maki-square-24,
.maki-soccer-24,
.maki-slaughterhouse-24,
.maki-skiing-24,
.maki-shop-24,
.maki-school-24,
.maki-roadblock-24,
.maki-restaurant-24,
.maki-religious-muslim-24,
.maki-religious-jewish-24,
.maki-religious-christian-24,
.maki-rail-underground-24,
.maki-rail-above-24,
.maki-rail-24,
.maki-prison-24,
.maki-post-24,
.maki-police-24,
.maki-place-of-worship-24,
.maki-pitch-24,
.maki-pharmacy-24,
.maki-parking-garage-24,
.maki-parking-24,
.maki-park2-24,
.maki-park-24,
.maki-oil-well-24,
.maki-museum-24,
.maki-monument-24,
.maki-minefield-24,
.maki-marker-stroked-24,
.maki-marker-24,
.maki-london-underground-24,
.maki-logging-24,
.maki-lodging-24,
.maki-library-24,
.maki-industrial-24,
.maki-hospital-24,
.maki-heliport-24,
.maki-harbor-24,
.maki-grocery-24,
.maki-golf-24,
.maki-garden-24,
.maki-fuel-24,
.maki-fire-station-24,
.maki-ferry-24,
.maki-fast-food-24,
.maki-embassy-24,
.maki-danger-24,
.maki-dam-24,
.maki-cross-24,
.maki-cricket-24,
.maki-commercial-24,
.maki-college-24,
.maki-circle-stroked-24,
.maki-circle-24,
.maki-cinema-24,
.maki-cemetery-24,
.maki-campsite-24,
.maki-cafe-24,
.maki-bus-24,
.maki-bicycle-24,
.maki-beer-24,
.maki-basketball-24,
.maki-baseball-24,
.maki-bar-24,
.maki-bank-24,
.maki-art-gallery-24,
.maki-america-football-24,
.maki-alcohol-shop-24,
.maki-airport-24,
.maki-airfield-24,
.maki-zoo-18,
.maki-x-18,
.maki-waste-basket-18,
.maki-warehouse-18,
.maki-triangle-stroked-18,
.maki-triangle-18,
.maki-town-hall-18,
.maki-toilets-18,
.maki-theatre-18,
.maki-tennis-18,
.maki-swimming-18,
.maki-star-stroked-18,
.maki-star-18,
.maki-square-stroked-18,
.maki-square-18,
.maki-soccer-18,
.maki-slaughterhouse-18,
.maki-skiing-18,
.maki-shop-18,
.maki-school-18,
.maki-roadblock-18,
.maki-restaurant-18,
.maki-religious-muslim-18,
.maki-religious-jewish-18,
.maki-religious-christian-18,
.maki-rail-underground-18,
.maki-rail-above-18,
.maki-rail-18,
.maki-prison-18,
.maki-post-18,
.maki-police-18,
.maki-place-of-worship-18,
.maki-pitch-18,
.maki-pharmacy-18,
.maki-parking-garage-18,
.maki-parking-18,
.maki-park2-18,
.maki-park-18,
.maki-oil-well-18,
.maki-museum-18,
.maki-monument-18,
.maki-minefield-18,
.maki-marker-stroked-18,
.maki-marker-18,
.maki-london-underground-18,
.maki-logging-18,
.maki-lodging-18,
.maki-library-18,
.maki-industrial-18,
.maki-hospital-18,
.maki-heliport-18,
.maki-harbor-18,
.maki-grocery-18,
.maki-golf-18,
.maki-garden-18,
.maki-fuel-18,
.maki-fire-station-18,
.maki-ferry-18,
.maki-fast-food-18,
.maki-embassy-18,
.maki-danger-18,
.maki-dam-18,
.maki-cross-18,
.maki-cricket-18,
.maki-commercial-18,
.maki-college-18,
.maki-circle-stroked-18,
.maki-circle-18,
.maki-cinema-18,
.maki-cemetery-18,
.maki-campsite-18,
.maki-cafe-18,
.maki-bus-18,
.maki-bicycle-18,
.maki-beer-18,
.maki-basketball-18,
.maki-baseball-18,
.maki-bar-18,
.maki-bank-18,
.maki-art-gallery-18,
.maki-america-football-18,
.maki-alcohol-shop-18,
.maki-airport-18,
.maki-airfield-18,
.maki-zoo-12,
.maki-x-12,
.maki-waste-basket-12,
.maki-warehouse-12,
.maki-triangle-stroked-12,
.maki-triangle-12,
.maki-town-hall-12,
.maki-toilets-12,
.maki-theatre-12,
.maki-tennis-12,
.maki-swimming-12,
.maki-star-stroked-12,
.maki-star-12,
.maki-square-stroked-12,
.maki-square-12,
.maki-soccer-12,
.maki-slaughterhouse-12,
.maki-skiing-12,
.maki-shop-12,
.maki-school-12,
.maki-roadblock-12,
.maki-restaurant-12,
.maki-religious-muslim-12,
.maki-religious-jewish-12,
.maki-religious-christian-12,
.maki-rail-underground-12,
.maki-rail-above-12,
.maki-rail-12,
.maki-prison-12,
.maki-post-12,
.maki-police-12,
.maki-place-of-worship-12,
.maki-pitch-12,
.maki-pharmacy-12,
.maki-parking-garage-12,
.maki-parking-12,
.maki-park2-12,
.maki-park-12,
.maki-oil-well-12,
.maki-museum-12,
.maki-monument-12,
.maki-minefield-12,
.maki-marker-stroked-12,
.maki-marker-12,
.maki-london-underground-12,
.maki-logging-12,
.maki-lodging-12,
.maki-library-12,
.maki-industrial-12,
.maki-hospital-12,
.maki-heliport-12,
.maki-harbor-12,
.maki-grocery-12,
.maki-golf-12,
.maki-garden-12,
.maki-fuel-12,
.maki-fire-station-12,
.maki-ferry-12,
.maki-fast-food-12,
.maki-embassy-12,
.maki-danger-12,
.maki-dam-12,
.maki-cross-12,
.maki-cricket-12,
.maki-commercial-12,
.maki-college-12,
.maki-circle-stroked-12,
.maki-circle-12,
.maki-cinema-12,
.maki-cemetery-12,
.maki-campsite-12,
.maki-cafe-12,
.maki-bus-12,
.maki-bicycle-12,
.maki-beer-12,
.maki-basketball-12,
.maki-baseball-12,
.maki-bar-12,
.maki-bank-12,
.maki-art-gallery-12,
.maki-america-football-12,
.maki-alcohol-shop-12,
.maki-airport-12,
.maki-airfield-12{background-image:url('../img/maki.png');background-repeat:no-repeat}
.maki-zoo-24{background-position:0px 0px;width:24px;height:24px;}
.maki-x-24{background-position:-24px 0px;width:24px;height:24px;}
.maki-waste-basket-24{background-position:0px -24px;width:24px;height:24px;}
.maki-warehouse-24{background-position:-24px -24px;width:24px;height:24px;}
.maki-triangle-stroked-24{background-position:-48px 0px;width:24px;height:24px;}
.maki-triangle-24{background-position:-48px -24px;width:24px;height:24px;}
.maki-town-hall-24{background-position:0px -48px;width:24px;height:24px;}
.maki-toilets-24{background-position:-24px -48px;width:24px;height:24px;}
.maki-theatre-24{background-position:-48px -48px;width:24px;height:24px;}
.maki-tennis-24{background-position:-72px 0px;width:24px;height:24px;}
.maki-swimming-24{background-position:-72px -24px;width:24px;height:24px;}
.maki-star-stroked-24{background-position:-72px -48px;width:24px;height:24px;}
.maki-star-24{background-position:0px -72px;width:24px;height:24px;}
.maki-square-stroked-24{background-position:-24px -72px;width:24px;height:24px;}
.maki-square-24{background-position:-48px -72px;width:24px;height:24px;}
.maki-soccer-24{background-position:-72px -72px;width:24px;height:24px;}
.maki-slaughterhouse-24{background-position:-96px 0px;width:24px;height:24px;}
.maki-skiing-24{background-position:-96px -24px;width:24px;height:24px;}
.maki-shop-24{background-position:-96px -48px;width:24px;height:24px;}
.maki-school-24{background-position:-96px -72px;width:24px;height:24px;}
.maki-roadblock-24{background-position:0px -96px;width:24px;height:24px;}
.maki-restaurant-24{background-position:-24px -96px;width:24px;height:24px;}
.maki-religious-muslim-24{background-position:-48px -96px;width:24px;height:24px;}
.maki-religious-jewish-24{background-position:-72px -96px;width:24px;height:24px;}
.maki-religious-christian-24{background-position:-96px -96px;width:24px;height:24px;}
.maki-rail-underground-24{background-position:-120px 0px;width:24px;height:24px;}
.maki-rail-above-24{background-position:-120px -24px;width:24px;height:24px;}
.maki-rail-24{background-position:-120px -48px;width:24px;height:24px;}
.maki-prison-24{background-position:-120px -72px;width:24px;height:24px;}
.maki-post-24{background-position:-120px -96px;width:24px;height:24px;}
.maki-police-24{background-position:0px -120px;width:24px;height:24px;}
.maki-place-of-worship-24{background-position:-24px -120px;width:24px;height:24px;}
.maki-pitch-24{background-position:-48px -120px;width:24px;height:24px;}
.maki-pharmacy-24{background-position:-72px -120px;width:24px;height:24px;}
.maki-parking-garage-24{background-position:-96px -120px;width:24px;height:24px;}
.maki-parking-24{background-position:-120px -120px;width:24px;height:24px;}
.maki-park2-24{background-position:-144px 0px;width:24px;height:24px;}
.maki-park-24{background-position:-144px -24px;width:24px;height:24px;}
.maki-oil-well-24{background-position:-144px -48px;width:24px;height:24px;}
.maki-museum-24{background-position:-144px -72px;width:24px;height:24px;}
.maki-monument-24{background-position:-144px -96px;width:24px;height:24px;}
.maki-minefield-24{background-position:-144px -120px;width:24px;height:24px;}
.maki-marker-stroked-24{background-position:0px -144px;width:24px;height:24px;}
.maki-marker-24{background-position:-24px -144px;width:24px;height:24px;}
.maki-london-underground-24{background-position:-48px -144px;width:24px;height:24px;}
.maki-logging-24{background-position:-72px -144px;width:24px;height:24px;}
.maki-lodging-24{background-position:-96px -144px;width:24px;height:24px;}
.maki-library-24{background-position:-120px -144px;width:24px;height:24px;}
.maki-industrial-24{background-position:-144px -144px;width:24px;height:24px;}
.maki-hospital-24{background-position:-168px 0px;width:24px;height:24px;}
.maki-heliport-24{background-position:-168px -24px;width:24px;height:24px;}
.maki-harbor-24{background-position:-168px -48px;width:24px;height:24px;}
.maki-grocery-24{background-position:-168px -72px;width:24px;height:24px;}
.maki-golf-24{background-position:-168px -96px;width:24px;height:24px;}
.maki-garden-24{background-position:-168px -120px;width:24px;height:24px;}
.maki-fuel-24{background-position:-168px -144px;width:24px;height:24px;}
.maki-fire-station-24{background-position:0px -168px;width:24px;height:24px;}
.maki-ferry-24{background-position:-24px -168px;width:24px;height:24px;}
.maki-fast-food-24{background-position:-48px -168px;width:24px;height:24px;}
.maki-embassy-24{background-position:-72px -168px;width:24px;height:24px;}
.maki-danger-24{background-position:-96px -168px;width:24px;height:24px;}
.maki-dam-24{background-position:-120px -168px;width:24px;height:24px;}
.maki-cross-24{background-position:-144px -168px;width:24px;height:24px;}
.maki-cricket-24{background-position:-168px -168px;width:24px;height:24px;}
.maki-commercial-24{background-position:-192px 0px;width:24px;height:24px;}
.maki-college-24{background-position:-192px -24px;width:24px;height:24px;}
.maki-circle-stroked-24{background-position:-192px -48px;width:24px;height:24px;}
.maki-circle-24{background-position:-192px -72px;width:24px;height:24px;}
.maki-cinema-24{background-position:-192px -96px;width:24px;height:24px;}
.maki-cemetery-24{background-position:-192px -120px;width:24px;height:24px;}
.maki-campsite-24{background-position:-192px -144px;width:24px;height:24px;}
.maki-cafe-24{background-position:-192px -168px;width:24px;height:24px;}
.maki-bus-24{background-position:0px -192px;width:24px;height:24px;}
.maki-bicycle-24{background-position:-24px -192px;width:24px;height:24px;}
.maki-beer-24{background-position:-48px -192px;width:24px;height:24px;}
.maki-basketball-24{background-position:-72px -192px;width:24px;height:24px;}
.maki-baseball-24{background-position:-96px -192px;width:24px;height:24px;}
.maki-bar-24{background-position:-120px -192px;width:24px;height:24px;}
.maki-bank-24{background-position:-144px -192px;width:24px;height:24px;}
.maki-art-gallery-24{background-position:-168px -192px;width:24px;height:24px;}
.maki-america-football-24{background-position:-192px -192px;width:24px;height:24px;}
.maki-alcohol-shop-24{background-position:-216px 0px;width:24px;height:24px;}
.maki-airport-24{background-position:-216px -24px;width:24px;height:24px;}
.maki-airfield-24{background-position:-216px -48px;width:24px;height:24px;}
.maki-zoo-18{background-position:-216px -72px;width:18px;height:18px;}
.maki-x-18{background-position:-216px -90px;width:18px;height:18px;}
.maki-waste-basket-18{background-position:-216px -108px;width:18px;height:18px;}
.maki-warehouse-18{background-position:-216px -126px;width:18px;height:18px;}
.maki-triangle-stroked-18{background-position:-216px -144px;width:18px;height:18px;}
.maki-triangle-18{background-position:-216px -162px;width:18px;height:18px;}
.maki-town-hall-18{background-position:-216px -180px;width:18px;height:18px;}
.maki-toilets-18{background-position:-216px -198px;width:18px;height:18px;}
.maki-theatre-18{background-position:0px -216px;width:18px;height:18px;}
.maki-tennis-18{background-position:-18px -216px;width:18px;height:18px;}
.maki-swimming-18{background-position:-36px -216px;width:18px;height:18px;}
.maki-star-stroked-18{background-position:-54px -216px;width:18px;height:18px;}
.maki-star-18{background-position:-72px -216px;width:18px;height:18px;}
.maki-square-stroked-18{background-position:-90px -216px;width:18px;height:18px;}
.maki-square-18{background-position:-108px -216px;width:18px;height:18px;}
.maki-soccer-18{background-position:-126px -216px;width:18px;height:18px;}
.maki-slaughterhouse-18{background-position:-144px -216px;width:18px;height:18px;}
.maki-skiing-18{background-position:-162px -216px;width:18px;height:18px;}
.maki-shop-18{background-position:-180px -216px;width:18px;height:18px;}
.maki-school-18{background-position:-198px -216px;width:18px;height:18px;}
.maki-roadblock-18{background-position:-216px -216px;width:18px;height:18px;}
.maki-restaurant-18{background-position:-240px 0px;width:18px;height:18px;}
.maki-religious-muslim-18{background-position:-240px -18px;width:18px;height:18px;}
.maki-religious-jewish-18{background-position:-240px -36px;width:18px;height:18px;}
.maki-religious-christian-18{background-position:-240px -54px;width:18px;height:18px;}
.maki-rail-underground-18{background-position:-240px -72px;width:18px;height:18px;}
.maki-rail-above-18{background-position:-240px -90px;width:18px;height:18px;}
.maki-rail-18{background-position:-240px -108px;width:18px;height:18px;}
.maki-prison-18{background-position:-240px -126px;width:18px;height:18px;}
.maki-post-18{background-position:-240px -144px;width:18px;height:18px;}
.maki-police-18{background-position:-240px -162px;width:18px;height:18px;}
.maki-place-of-worship-18{background-position:-240px -180px;width:18px;height:18px;}
.maki-pitch-18{background-position:-240px -198px;width:18px;height:18px;}
.maki-pharmacy-18{background-position:-240px -216px;width:18px;height:18px;}
.maki-parking-garage-18{background-position:0px -234px;width:18px;height:18px;}
.maki-parking-18{background-position:-18px -234px;width:18px;height:18px;}
.maki-park2-18{background-position:-36px -234px;width:18px;height:18px;}
.maki-park-18{background-position:-54px -234px;width:18px;height:18px;}
.maki-oil-well-18{background-position:-72px -234px;width:18px;height:18px;}
.maki-museum-18{background-position:-90px -234px;width:18px;height:18px;}
.maki-monument-18{background-position:-108px -234px;width:18px;height:18px;}
.maki-minefield-18{background-position:-126px -234px;width:18px;height:18px;}
.maki-marker-stroked-18{background-position:-144px -234px;width:18px;height:18px;}
.maki-marker-18{background-position:-162px -234px;width:18px;height:18px;}
.maki-london-underground-18{background-position:-180px -234px;width:18px;height:18px;}
.maki-logging-18{background-position:-198px -234px;width:18px;height:18px;}
.maki-lodging-18{background-position:-216px -234px;width:18px;height:18px;}
.maki-library-18{background-position:-234px -234px;width:18px;height:18px;}
.maki-industrial-18{background-position:-258px 0px;width:18px;height:18px;}
.maki-hospital-18{background-position:-258px -18px;width:18px;height:18px;}
.maki-heliport-18{background-position:-258px -36px;width:18px;height:18px;}
.maki-harbor-18{background-position:-258px -54px;width:18px;height:18px;}
.maki-grocery-18{background-position:-258px -72px;width:18px;height:18px;}
.maki-golf-18{background-position:-258px -90px;width:18px;height:18px;}
.maki-garden-18{background-position:-258px -108px;width:18px;height:18px;}
.maki-fuel-18{background-position:-258px -126px;width:18px;height:18px;}
.maki-fire-station-18{background-position:-258px -144px;width:18px;height:18px;}
.maki-ferry-18{background-position:-258px -162px;width:18px;height:18px;}
.maki-fast-food-18{background-position:-258px -180px;width:18px;height:18px;}
.maki-embassy-18{background-position:-258px -198px;width:18px;height:18px;}
.maki-danger-18{background-position:-258px -216px;width:18px;height:18px;}
.maki-dam-18{background-position:-258px -234px;width:18px;height:18px;}
.maki-cross-18{background-position:0px -252px;width:18px;height:18px;}
.maki-cricket-18{background-position:-18px -252px;width:18px;height:18px;}
.maki-commercial-18{background-position:-36px -252px;width:18px;height:18px;}
.maki-college-18{background-position:-54px -252px;width:18px;height:18px;}
.maki-circle-stroked-18{background-position:-72px -252px;width:18px;height:18px;}
.maki-circle-18{background-position:-90px -252px;width:18px;height:18px;}
.maki-cinema-18{background-position:-108px -252px;width:18px;height:18px;}
.maki-cemetery-18{background-position:-126px -252px;width:18px;height:18px;}
.maki-campsite-18{background-position:-144px -252px;width:18px;height:18px;}
.maki-cafe-18{background-position:-162px -252px;width:18px;height:18px;}
.maki-bus-18{background-position:-180px -252px;width:18px;height:18px;}
.maki-bicycle-18{background-position:-198px -252px;width:18px;height:18px;}
.maki-beer-18{background-position:-216px -252px;width:18px;height:18px;}
.maki-basketball-18{background-position:-234px -252px;width:18px;height:18px;}
.maki-baseball-18{background-position:-252px -252px;width:18px;height:18px;}
.maki-bar-18{background-position:-276px 0px;width:18px;height:18px;}
.maki-bank-18{background-position:-276px -18px;width:18px;height:18px;}
.maki-art-gallery-18{background-position:-276px -36px;width:18px;height:18px;}
.maki-america-football-18{background-position:-276px -54px;width:18px;height:18px;}
.maki-alcohol-shop-18{background-position:-276px -72px;width:18px;height:18px;}
.maki-airport-18{background-position:-276px -90px;width:18px;height:18px;}
.maki-airfield-18{background-position:-276px -108px;width:18px;height:18px;}
.maki-zoo-12{background-position:-276px -126px;width:12px;height:12px;}
.maki-x-12{background-position:-276px -138px;width:12px;height:12px;}
.maki-waste-basket-12{background-position:-276px -150px;width:12px;height:12px;}
.maki-warehouse-12{background-position:-276px -162px;width:12px;height:12px;}
.maki-triangle-stroked-12{background-position:-276px -174px;width:12px;height:12px;}
.maki-triangle-12{background-position:-276px -186px;width:12px;height:12px;}
.maki-town-hall-12{background-position:-276px -198px;width:12px;height:12px;}
.maki-toilets-12{background-position:-276px -210px;width:12px;height:12px;}
.maki-theatre-12{background-position:-276px -222px;width:12px;height:12px;}
.maki-tennis-12{background-position:-276px -234px;width:12px;height:12px;}
.maki-swimming-12{background-position:-276px -246px;width:12px;height:12px;}
.maki-star-stroked-12{background-position:-276px -258px;width:12px;height:12px;}
.maki-star-12{background-position:0px -270px;width:12px;height:12px;}
.maki-square-stroked-12{background-position:-12px -270px;width:12px;height:12px;}
.maki-square-12{background-position:-24px -270px;width:12px;height:12px;}
.maki-soccer-12{background-position:-36px -270px;width:12px;height:12px;}
.maki-slaughterhouse-12{background-position:-48px -270px;width:12px;height:12px;}
.maki-skiing-12{background-position:-60px -270px;width:12px;height:12px;}
.maki-shop-12{background-position:-72px -270px;width:12px;height:12px;}
.maki-school-12{background-position:-84px -270px;width:12px;height:12px;}
.maki-roadblock-12{background-position:-96px -270px;width:12px;height:12px;}
.maki-restaurant-12{background-position:-108px -270px;width:12px;height:12px;}
.maki-religious-muslim-12{background-position:-120px -270px;width:12px;height:12px;}
.maki-religious-jewish-12{background-position:-132px -270px;width:12px;height:12px;}
.maki-religious-christian-12{background-position:-144px -270px;width:12px;height:12px;}
.maki-rail-underground-12{background-position:-156px -270px;width:12px;height:12px;}
.maki-rail-above-12{background-position:-168px -270px;width:12px;height:12px;}
.maki-rail-12{background-position:-180px -270px;width:12px;height:12px;}
.maki-prison-12{background-position:-192px -270px;width:12px;height:12px;}
.maki-post-12{background-position:-204px -270px;width:12px;height:12px;}
.maki-police-12{background-position:-216px -270px;width:12px;height:12px;}
.maki-place-of-worship-12{background-position:-228px -270px;width:12px;height:12px;}
.maki-pitch-12{background-position:-240px -270px;width:12px;height:12px;}
.maki-pharmacy-12{background-position:-252px -270px;width:12px;height:12px;}
.maki-parking-garage-12{background-position:-264px -270px;width:12px;height:12px;}
.maki-parking-12{background-position:-276px -270px;width:12px;height:12px;}
.maki-park2-12{background-position:0px -282px;width:12px;height:12px;}
.maki-park-12{background-position:-12px -282px;width:12px;height:12px;}
.maki-oil-well-12{background-position:-24px -282px;width:12px;height:12px;}
.maki-museum-12{background-position:-36px -282px;width:12px;height:12px;}
.maki-monument-12{background-position:-48px -282px;width:12px;height:12px;}
.maki-minefield-12{background-position:-60px -282px;width:12px;height:12px;}
.maki-marker-stroked-12{background-position:-72px -282px;width:12px;height:12px;}
.maki-marker-12{background-position:-84px -282px;width:12px;height:12px;}
.maki-london-underground-12{background-position:-96px -282px;width:12px;height:12px;}
.maki-logging-12{background-position:-108px -282px;width:12px;height:12px;}
.maki-lodging-12{background-position:-120px -282px;width:12px;height:12px;}
.maki-library-12{background-position:-132px -282px;width:12px;height:12px;}
.maki-industrial-12{background-position:-144px -282px;width:12px;height:12px;}
.maki-hospital-12{background-position:-156px -282px;width:12px;height:12px;}
.maki-heliport-12{background-position:-168px -282px;width:12px;height:12px;}
.maki-harbor-12{background-position:-180px -282px;width:12px;height:12px;}
.maki-grocery-12{background-position:-192px -282px;width:12px;height:12px;}
.maki-golf-12{background-position:-204px -282px;width:12px;height:12px;}
.maki-garden-12{background-position:-216px -282px;width:12px;height:12px;}
.maki-fuel-12{background-position:-228px -282px;width:12px;height:12px;}
.maki-fire-station-12{background-position:-240px -282px;width:12px;height:12px;}
.maki-ferry-12{background-position:-252px -282px;width:12px;height:12px;}
.maki-fast-food-12{background-position:-264px -282px;width:12px;height:12px;}
.maki-embassy-12{background-position:-276px -282px;width:12px;height:12px;}
.maki-danger-12{background-position:-294px 0px;width:12px;height:12px;}
.maki-dam-12{background-position:-294px -12px;width:12px;height:12px;}
.maki-cross-12{background-position:-294px -24px;width:12px;height:12px;}
.maki-cricket-12{background-position:-294px -36px;width:12px;height:12px;}
.maki-commercial-12{background-position:-294px -48px;width:12px;height:12px;}
.maki-college-12{background-position:-294px -60px;width:12px;height:12px;}
.maki-circle-stroked-12{background-position:-294px -72px;width:12px;height:12px;}
.maki-circle-12{background-position:-294px -84px;width:12px;height:12px;}
.maki-cinema-12{background-position:-294px -96px;width:12px;height:12px;}
.maki-cemetery-12{background-position:-294px -108px;width:12px;height:12px;}
.maki-campsite-12{background-position:-294px -120px;width:12px;height:12px;}
.maki-cafe-12{background-position:-294px -132px;width:12px;height:12px;}
.maki-bus-12{background-position:-294px -144px;width:12px;height:12px;}
.maki-bicycle-12{background-position:-294px -156px;width:12px;height:12px;}
.maki-beer-12{background-position:-294px -168px;width:12px;height:12px;}
.maki-basketball-12{background-position:-294px -180px;width:12px;height:12px;}
.maki-baseball-12{background-position:-294px -192px;width:12px;height:12px;}
.maki-bar-12{background-position:-294px -204px;width:12px;height:12px;}
.maki-bank-12{background-position:-294px -216px;width:12px;height:12px;}
.maki-art-gallery-12{background-position:-294px -228px;width:12px;height:12px;}
.maki-america-football-12{background-position:-294px -240px;width:12px;height:12px;}
.maki-alcohol-shop-12{background-position:-294px -252px;width:12px;height:12px;}
.maki-airport-12{background-position:-294px -264px;width:12px;height:12px;}
.maki-airfield-12{background-position:-294px -276px;width:12px;height:12px;}
