image.tile {
}

/* base styles */
path, image.marker {
    fill: none;
    cursor: pointer;
}

g.marker circle {
    fill:#fff;
    stroke:#888;
    stroke-width:1;
}

g.marker.active circle {
    stroke-width:2;
    stroke:#000;
    fill:#FCFFAF;
}

/* interactive elements */
rect.handle {
    cursor: move;
    stroke-width: 1;
    stroke:#000;
    fill:#FFF694;
}

circle.teaser-point {
    stroke-width: 2;
    stroke:#1DCAFF;
    fill:#D3F5FF;
}

.casing {
    stroke: #111;
    stroke-linecap:round;
    stroke-linejoin:bevel;
    stroke-width: 3;
}

.casing:hover {
    stroke:#FF0F0F !important;
    opacity:0.8;
}

.casing.active {
    stroke:#FFF9C9;
    stroke-opacity:1;
    stroke-width:8;
}

.stroke {
    stroke: #555;
    stroke-linecap:round;
    stroke-linejoin:bevel;
    stroke-width: 2;
}

.stroke.railway-rail {
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 12,12;
}

.stroke.railway-subway {
    stroke: #444;
    stroke-width: 3;
    stroke-dasharray: 8,8;
}

.area.active {
    stroke-width:3 !important;
}

.area.natural {
    stroke: #ADD6A5;
    fill: #ADD6A5;
    stroke-width:1;
    fill-opacity:0.3;
}

.area.building {
    stroke: #9E176A;
    stroke-width: 1;
    fill: #ff6ec7;
    fill-opacity: 0.3;
}

.area.landuse,
.area.natural {
    stroke: #006B34;
    stroke-width: 1;
    fill: #189E59;
    fill-opacity:0.2;
}

/* highways */
.stroke.highway-residential {
    stroke:#E8E8E8;
    stroke-width:4;
}
.casing.highway-residential {
    stroke:#E8E8E8;
    stroke-width:10;
    opacity:0.4;
}

.stroke.highway-unclassified,
.stroke.highway-tertiary,
.stroke.highway-tertiary_link {
    stroke:#FEFECB;
    stroke-width:6;
}

.casing.highway-unclassified,
.casing.highway-tertiary,
.casing.highway-tertiary_link {
    stroke-width:8;
}

.stroke.highway-service {
    stroke:#fff;
    stroke-width:4;
}
.casing.highway-service {
    stroke-width:6;
}

.stroke.highway-footway,
.stroke.highway-cycleway,
.stroke.highway-steps {
    stroke: #ff6257;
    stroke-width: 3;
    stroke-dasharray: 6, 6;
}
.casing.highway-footway,
.casing.highway-cycleway,
.casing.highway-steps {
    stroke-width: 3;
    stroke: #fff;
}

.stroke.highway-motorway, .stroke.highway-motorway_link {
    stroke:#809BC0;
    stroke-width:3;
}
.casing.highway-motorway, .casing.highway-motorway_link {
    stroke:#809BC0;
    stroke-width:9;
    opacity:0.4;
}

.stroke.highway-trunk, .stroke.highway-trunk_link {
    stroke-width:7;
    opacity:0.4;
    stroke:#7FC97F;
}
.casing.highway-trunk, .casing.highway-trunk_link {
    stroke-width:4;
    stroke:#7FC97F;
}

.stroke.highway-primary, .stroke.highway-primary_link {
    stroke:#FD969A;
    stroke-width:5;
}
.casing.highway-primary, .casing.highway-primary_link {
    stroke:#FF6363;
    opacity:0.4;
    stroke-width:12;
}

.stroke.highway-secondary, .stroke.highway-secondary_link {
    stroke:#FDBF6F;
    stroke-width:4;
}
.casing.highway-secondary, .casing.highway-secondary_link {
    opacity:0.4;
    stroke:#FDBF6F;
    stroke-width:11;
}

.stroke.bridge-yes {
    stroke:#eee;
    stroke-width:7;
}

.stroke.waterway {
    stroke: #10539a;
    stroke-width: 3;
}

text {
    font:9px 'Helvetica';
    text-anchor:middle;
    fill:#fff;
    text-shadow:
       0 0 1px #000,
       0 0 1px #000,
       0 0 1px #000,
       0 0 2px #000;
}
