/* glue: 0.3 hash: 3c6bb028c6 */
.preset-waterway-river,
.preset-railway-rail,
.preset-highway-trunk,
.preset-highway-tertiary,
.preset-highway-service,
.preset-highway-secondary,
.preset-highway-residential,
.preset-highway-primary,
.preset-highway-motorway,
.preset-highway-footway,
.preset-highway-cycleway,
.preset-zoo,
.preset-x,
.preset-waste-basket,
.preset-warehouse,
.preset-triangle,
.preset-triangle-stroked,
.preset-town-hall,
.preset-toilets,
.preset-theatre,
.preset-tennis,
.preset-swimming,
.preset-star,
.preset-star-stroked,
.preset-square,
.preset-square-stroked,
.preset-soccer,
.preset-slaughterhouse,
.preset-skiing,
.preset-shop,
.preset-school,
.preset-roadblock,
.preset-restaurant,
.preset-religious-muslim,
.preset-religious-jewish,
.preset-religious-christian,
.preset-rail,
.preset-rail-underground,
.preset-rail-above,
.preset-prison,
.preset-post,
.preset-police,
.preset-place-of-worship,
.preset-pitch,
.preset-pharmacy,
.preset-parking,
.preset-parking-garage,
.preset-park2,
.preset-park,
.preset-oil-well,
.preset-museum,
.preset-monument,
.preset-minefield,
.preset-marker,
.preset-marker-stroked,
.preset-london-underground,
.preset-logging,
.preset-lodging,
.preset-library,
.preset-industrial,
.preset-hospital,
.preset-heliport,
.preset-harbor,
.preset-grocery,
.preset-golf,
.preset-garden,
.preset-fuel,
.preset-fire-station,
.preset-ferry,
.preset-fast-food,
.preset-embassy,
.preset-danger,
.preset-dam,
.preset-cross,
.preset-cricket,
.preset-commercial,
.preset-college,
.preset-circle,
.preset-circle-stroked,
.preset-cinema,
.preset-cemetery,
.preset-campsite,
.preset-cafe,
.preset-bus,
.preset-bicycle,
.preset-beer,
.preset-basketball,
.preset-baseball,
.preset-bar,
.preset-bank,
.preset-art-gallery,
.preset-america-football,
.preset-alcohol-shop,
.preset-airport,
.preset-airfield{background-image:url('../img/preset-icons.png');background-repeat:no-repeat}
.preset-waterway-river{background-position:0px 0px;width:100px;height:100px;}
.preset-railway-rail{background-position:-100px 0px;width:100px;height:100px;}
.preset-highway-trunk{background-position:0px -100px;width:100px;height:100px;}
.preset-highway-tertiary{background-position:-100px -100px;width:100px;height:100px;}
.preset-highway-service{background-position:-200px 0px;width:100px;height:100px;}
.preset-highway-secondary{background-position:-200px -100px;width:100px;height:100px;}
.preset-highway-residential{background-position:0px -200px;width:100px;height:100px;}
.preset-highway-primary{background-position:-100px -200px;width:100px;height:100px;}
.preset-highway-motorway{background-position:-200px -200px;width:100px;height:100px;}
.preset-highway-footway{background-position:-300px 0px;width:100px;height:100px;}
.preset-highway-cycleway{background-position:-300px -100px;width:100px;height:100px;}
.preset-zoo{background-position:-300px -200px;width:24px;height:24px;}
.preset-x{background-position:-324px -200px;width:24px;height:24px;}
.preset-waste-basket{background-position:-348px -200px;width:24px;height:24px;}
.preset-warehouse{background-position:-372px -200px;width:24px;height:24px;}
.preset-triangle{background-position:-300px -224px;width:24px;height:24px;}
.preset-triangle-stroked{background-position:-324px -224px;width:24px;height:24px;}
.preset-town-hall{background-position:-348px -224px;width:24px;height:24px;}
.preset-toilets{background-position:-372px -224px;width:24px;height:24px;}
.preset-theatre{background-position:-300px -248px;width:24px;height:24px;}
.preset-tennis{background-position:-324px -248px;width:24px;height:24px;}
.preset-swimming{background-position:-348px -248px;width:24px;height:24px;}
.preset-star{background-position:-372px -248px;width:24px;height:24px;}
.preset-star-stroked{background-position:-300px -272px;width:24px;height:24px;}
.preset-square{background-position:-324px -272px;width:24px;height:24px;}
.preset-square-stroked{background-position:-348px -272px;width:24px;height:24px;}
.preset-soccer{background-position:-372px -272px;width:24px;height:24px;}
.preset-slaughterhouse{background-position:0px -300px;width:24px;height:24px;}
.preset-skiing{background-position:-24px -300px;width:24px;height:24px;}
.preset-shop{background-position:-48px -300px;width:24px;height:24px;}
.preset-school{background-position:-72px -300px;width:24px;height:24px;}
.preset-roadblock{background-position:-96px -300px;width:24px;height:24px;}
.preset-restaurant{background-position:-120px -300px;width:24px;height:24px;}
.preset-religious-muslim{background-position:-144px -300px;width:24px;height:24px;}
.preset-religious-jewish{background-position:-168px -300px;width:24px;height:24px;}
.preset-religious-christian{background-position:-192px -300px;width:24px;height:24px;}
.preset-rail{background-position:-216px -300px;width:24px;height:24px;}
.preset-rail-underground{background-position:-240px -300px;width:24px;height:24px;}
.preset-rail-above{background-position:-264px -300px;width:24px;height:24px;}
.preset-prison{background-position:-288px -300px;width:24px;height:24px;}
.preset-post{background-position:-312px -300px;width:24px;height:24px;}
.preset-police{background-position:-336px -300px;width:24px;height:24px;}
.preset-place-of-worship{background-position:-360px -300px;width:24px;height:24px;}
.preset-pitch{background-position:0px -324px;width:24px;height:24px;}
.preset-pharmacy{background-position:-24px -324px;width:24px;height:24px;}
.preset-parking{background-position:-48px -324px;width:24px;height:24px;}
.preset-parking-garage{background-position:-72px -324px;width:24px;height:24px;}
.preset-park2{background-position:-96px -324px;width:24px;height:24px;}
.preset-park{background-position:-120px -324px;width:24px;height:24px;}
.preset-oil-well{background-position:-144px -324px;width:24px;height:24px;}
.preset-museum{background-position:-168px -324px;width:24px;height:24px;}
.preset-monument{background-position:-192px -324px;width:24px;height:24px;}
.preset-minefield{background-position:-216px -324px;width:24px;height:24px;}
.preset-marker{background-position:-240px -324px;width:24px;height:24px;}
.preset-marker-stroked{background-position:-264px -324px;width:24px;height:24px;}
.preset-london-underground{background-position:-288px -324px;width:24px;height:24px;}
.preset-logging{background-position:-312px -324px;width:24px;height:24px;}
.preset-lodging{background-position:-336px -324px;width:24px;height:24px;}
.preset-library{background-position:-360px -324px;width:24px;height:24px;}
.preset-industrial{background-position:0px -348px;width:24px;height:24px;}
.preset-hospital{background-position:-24px -348px;width:24px;height:24px;}
.preset-heliport{background-position:-48px -348px;width:24px;height:24px;}
.preset-harbor{background-position:-72px -348px;width:24px;height:24px;}
.preset-grocery{background-position:-96px -348px;width:24px;height:24px;}
.preset-golf{background-position:-120px -348px;width:24px;height:24px;}
.preset-garden{background-position:-144px -348px;width:24px;height:24px;}
.preset-fuel{background-position:-168px -348px;width:24px;height:24px;}
.preset-fire-station{background-position:-192px -348px;width:24px;height:24px;}
.preset-ferry{background-position:-216px -348px;width:24px;height:24px;}
.preset-fast-food{background-position:-240px -348px;width:24px;height:24px;}
.preset-embassy{background-position:-264px -348px;width:24px;height:24px;}
.preset-danger{background-position:-288px -348px;width:24px;height:24px;}
.preset-dam{background-position:-312px -348px;width:24px;height:24px;}
.preset-cross{background-position:-336px -348px;width:24px;height:24px;}
.preset-cricket{background-position:-360px -348px;width:24px;height:24px;}
.preset-commercial{background-position:0px -372px;width:24px;height:24px;}
.preset-college{background-position:-24px -372px;width:24px;height:24px;}
.preset-circle{background-position:-48px -372px;width:24px;height:24px;}
.preset-circle-stroked{background-position:-72px -372px;width:24px;height:24px;}
.preset-cinema{background-position:-96px -372px;width:24px;height:24px;}
.preset-cemetery{background-position:-120px -372px;width:24px;height:24px;}
.preset-campsite{background-position:-144px -372px;width:24px;height:24px;}
.preset-cafe{background-position:-168px -372px;width:24px;height:24px;}
.preset-bus{background-position:-192px -372px;width:24px;height:24px;}
.preset-bicycle{background-position:-216px -372px;width:24px;height:24px;}
.preset-beer{background-position:-240px -372px;width:24px;height:24px;}
.preset-basketball{background-position:-264px -372px;width:24px;height:24px;}
.preset-baseball{background-position:-288px -372px;width:24px;height:24px;}
.preset-bar{background-position:-312px -372px;width:24px;height:24px;}
.preset-bank{background-position:-336px -372px;width:24px;height:24px;}
.preset-art-gallery{background-position:-360px -372px;width:24px;height:24px;}
.preset-america-football{background-position:-400px 0px;width:24px;height:24px;}
.preset-alcohol-shop{background-position:-400px -24px;width:24px;height:24px;}
.preset-airport{background-position:-400px -48px;width:24px;height:24px;}
.preset-airfield{background-position:-400px -72px;width:24px;height:24px;}
