body  {
  background: #f8f8f8;
}

.header {
  background: url({{site.baseurl}}/img/background.jpg) 50% 0 no-repeat;
  color: #f8f8f8;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  height: 800px;
  top: 0;
  overflow: hidden;
}

.shadow {
  margin-top: 570px;
  position: relative;
  background: #f8f8f8;
  z-index: 2;
}

.limit {
  margin: auto;
  max-width: 1000px;
  padding-bottom: 40px;
}

.screenshot {
  background: url({{site.baseurl}}/img/editor.png) 0 0 no-repeat;
  position: relative;
  height: 673px;
  width: 1059px;
  left: 0;
  right: 0;
  margin: auto;
}

.content.pad4 { padding-bottom: 0;}

.footer {
  background: #c1c1c1;
}

a.button {
  display: block;
  width: 50%;
  background:#77c453;
  color: white;
  font-weight: bold;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  padding: 8px;
}
a.button:hover { background: #54af29; }

@media only screen and (max-width: 640px) {
  a.button { width: 100%;}
}
