body  {
  background: white;
}

h1 {
  background: url({{site.baseurl}}/img/sprite.png) 0 0 no-repeat;
  text-indent: -9999px;
  overflow: auto;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-bottom: 20px;
}

.header {
  background: #141516 url({{site.baseurl}}/img/background.jpg) 50% 0 no-repeat;
  color: #f8f8f8;
  position: fixed;
  z-index: 1;
  height: 800px;
  top: 0;
}

.shadow {
  margin-top: 590px;
  position: relative;
  background: white;
  z-index: 2;
}

.limit {
  margin: auto;
  max-width: 1000px;
}

.section { padding-top: 0;}

.screenshot {
  opacity: 0;
  background: url({{site.baseurl}}/img/editor.png) 0 0 no-repeat;
  position: relative;
  height: 673px;
  width: 1059px;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation:fadeIn .5s ease-out .5s both;
     -moz-animation:fadeIn .5s ease-out .5s both;
       -o-animation:fadeIn .5s ease-out .5s both;
          animation:fadeIn .5s ease-out .5s both;
}

@-webkit-keyframes fadeIn { from { opacity:0; margin-top: 40px; } to { opacity:1; margin-top: 0;} }
   @-moz-keyframes fadeIn { from { opacity:0; margin-top: 40px; } to { opacity:1; margin-top: 0;} }
     @-o-keyframes fadeIn { from { opacity:0; margin-top: 40px; } to { opacity:1; margin-top: 0;} }
        @keyframes fadeIn { from { opacity:0; margin-top: 40px; } to { opacity:1; margin-top: 0;} }

.basics { border-right: 1px solid #ddd; }

.spot-illo {
  background: url({{site.baseurl}}/img/sprite.png) 50% -90px no-repeat;
  height: 150px;
  width: 100%;
}
.basics .spot-illo {
  background: url({{site.baseurl}}/img/sprite.png) 50% -225px no-repeat;
}
.video {
  border-radius: 5px;
  border: 1px solid #ddd;
}

.force-aspect-ratio {
  margin: auto;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
  overflow: hidden;
}

#player {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: auto;
}

.actions .col6:first-child { border-right: 1px solid #ddd; }
.actions .pad4 { padding-bottom: 0;}

a.button {
  margin-bottom: 20px;
  display: block;
  background:#77c453;
  color: white;
  font-weight: bold;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  padding: 8px;
}
a.button:hover { background: #54af29; }

.footer {
  color: white;
  background: #141516;
  text-align: center;
}

.footer li {
  font-size: 12px;
  display: inline-block;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #444546;
}

.footer li:first-child {
  padding-left: 0;
  margin-left: 0;
  border-left:0;
}

@media only screen and (max-width: 640px) {
  .basics,
  .video {
    border: 0;
    border-radius: 0;
  }
  .video { border-top: 1px solid #ddd;}
  .actions .pad4 { padding-bottom: 20px; }
  .actions .col6:first-child { border-right: 0;}
  .actions .col6 { border-top: 1px solid #ddd; }
  .footer li { display: block; border:0; margin: 20px 0; padding: 0;}
}
